/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: 'Lato',sans-serif,FontAwesome;
$font-size-base: 1.8rem;
$line-height-base: 3rem;


/**
 * Colors
 */

$text-color: #000;
$body-bg: #fff;
$selection-bg: #04A4CC;

$brand_colors: rgba(80, 152, 166, 1.0), rgba(231, 144, 61, 1.0), rgba(180, 196, 67, 1.0), rgba(247, 204, 72, 1.0);
$white: rgba(255, 255, 255, 1.0);
$black: rgba(0, 0, 0, 1.0);
$red: rgba(204, 0, 0, 1.0);


/**
 * Grid
 */

$wrapper-width: 100vw;
$content-width: 71vw;
$wrapper-margins: 0, (($wrapper-width - $content-width) / 2), 0, (($wrapper-width - $content-width) / 2);
$gutter: 1vw;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;




/* These are variables for the header */
$header-width: 80vw;
$header-height: 110px;


/* These are variables for the main navigation */
$navigation-height: 50px;
