@media only screen and (max-width: 1560px) {
  .nu__col-left {
  //display:none;
    flex: 0 0 21%;
    & ul {

      & li {


        & a {
          &.active {


          }
        }
      }
    }

  }

  .nu__col-right {
    & img {

    }
    & p {
      max-width:100%;
      //clear:both;
    }
  }

  .nu__col-copy {
    margin-left:0;
    clear:both;
  }



  .nu__col-list {
   width:46%;
    // float:none;
    &:last-of-type {
    //  margin-left:0;
    }
  }


}

@media only screen and (max-width: 1530px) {
  .nu__col-left {
    & ul {
      & li {
        font-size:2rem;
      }
    }
  }

}

@media only screen and (max-width: 1400px) {
  main#homepage > section#expertise > div > div h3 {
    font-size:2rem ;
  }
  main#homepage > section#expertise > div > div p {
    line-height:1.5em;
  }
}





@media only screen and (max-width: 1330px) {
  .nu__col-left {
  //display:none;
    flex: 0 0 21%;
    & ul {

      & li {

      //  font-size:1.8rem;
        & a {
          &.active {


          }
        }
      }
    }

  }

  .nu__col-right {
    & img {
      padding-left:0;
      float:none;
      width:100%;
    }
    & p {
      max-width:100%;
      //clear:both;
    }
  }

  .nu__col-copy {
    margin-left:0;
    clear:both;
  }

  #map {
    float:none;
    width:100%;
    margin-left:0;
    width:100%;
  }

  .nu__col-list {
   width:46%;
    // float:none;
    &:last-of-type {
    //  margin-left:0;
    }
  }


}

@media only screen and (max-width: 1320px) {
  .nu__col-left {
    & ul {
      & li {
        font-size:1.6rem;
      }
    }
  }

}

@media only screen and (max-width: 1280px) {
  .nu__col-copy {
    & h2 {
      line-height:2em;
    }
  }

  .nu__col-list {
    & h2 {
      line-height:2em;
    }
  }
}

@media only screen and (max-width: 1280px) {

  main#homepage{

    & > section{

      &#expertise{

        & > div{
          & > div{
            background: rgba(239, 239, 239, 1.0);
            width: (($content-width - ($gutter)) / 2);
            height: (($content-width - ($gutter)) / 2);
             margin: 0 0 ($gutter * 2) 0;
             & h3 {
               font-weight:300;
               font-size:3.4rem;
               border-bottom:2px solid rgba(123, 119, 120, 1.0);
               max-width:76%;
               margin-left:8%;
               margin-top:6%;
               padding-bottom:3.7%;
             }
             /* 28px @ 700px increasing to 34px @ 1500px */
               @media (min-width: 1100px) {
                 h3 {
                   font-size: calc(1.75rem + ((1vw - 7px) * 0.75));
                   /* Where: * 0.75 = 100 * font_Size_Difference / viewport_Width_Difference */
                 }
               }
               /* Prevent font scaling beyond this breakpoint */
               @media (min-width: 1500px) {
                 h3 {
                   font-size: 34px;
                 }
               }

             & p {
               max-width:76%;
               margin-left:8%;
               margin-top:3.7%;
               font-weight:300;
               font-size:2.4rem;

             }
             /* 18px @ 700px increasing to 24px @ 1500px */
             @media (min-width: 900px) {
               p {
                 font-size: calc(1.125rem + ((1vw - 7px) * 0.75));
                 /* Where: * 0.75 = 100 * font_Size_Difference / viewport_Width_Difference */
               }
             }
             /* Prevent font scaling beyond this breakpoint */
             @media (min-width: 1500px) {
               p {
                 font-size: 24px;
               }
             }
            &.doublewide{
              width: ((($content-width - ($gutter)) / 2) * 2);
            }
            &#materials{
              order: 0;
              -webkit-order: 0;
              margin-right: -10px;
              width: (($content-width - ($gutter)) / 2) + $gutter;
            }
            &#materialsimage{
              order: 1;
              -webkit-order: 1;
            }
            &#structural{
              order: 3;
              -webkit-order: 3;
              height: (($content-width - ($gutter)) / 2);
              margin-top: 0;
            }
            &#structuralimage{
              order: 2;
              -webkit-order: 2;
            }
            &#partnerships{
              order: 4;
              -webkit-order: 4;
              width: 100%;

              & p {
                & a {
                  font-size:1.8rem
                }
              }
            }
            &#manufacturing{
              order: 5;
              -webkit-order: 5;
            }
            &#manufacturingimage{
              order: 6;
              -webkit-order: 6;
            }
            &#security{
              order: 8;
              -webkit-order: 8;
              height: (($content-width - ($gutter)) / 2);
              margin-top: 0;
            }
            &#securityimage{
              order: 7;
              -webkit-order: 7;
            }
            &#nano{
              order: 9;
              -webkit-order: 9;
            }
            &#nanoimage{
              order: 10;
              -webkit-order: 10;
              margin-left: -1 * $gutter;
            }
            &#analytics{
              order: 12;
              -webkit-order: 12;
              width: (($content-width - ($gutter)) / 2);
              & > div{
                &.bordered-right{
                  margin: 2% 3% 2% 0;
                  width: 97.5%;
                  height: 95.5%;
                }
              }
            }
            &#analyticsimage{
              order: 11;
              -webkit-order: 11;
            }
            & > div{
              background: rgba(255,255,255,1.0);
              width: 95%;
              height: 95%;
              margin: 2.5% 2.5% 2.5% 2.5%;
              padding: 20px;
              &.bordered-right{
                margin: 2.5% 0 2.5% 2.5% ;
                width: 97.5%;
              }
              &.bordered-bottom{
                margin: 2.5% 2.5% 2.5% 0 ;
                height: 95%;
                width: 97%;
              }
              &.bordered-left{
                margin: 2.5% 0 2.5% 2.5%;
                width: 97.5%;
              }
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 1260px) {

  #nav-btn, #nav-btn + span {
    display:block;
  }

  nav.nu__main-nav {
    display:none;
  }

  nav.nu__mobile-nav {
    display:block;
  }

  #nav-btn{
    z-index:100;

  }
}




@media only screen and (max-width: 1250px) {
  h4 {
    &:before {
      width:35px;
    }
  }

  // main#homepage > section#approach > div:nth-of-type(1) > h2 {
  //   margin-left:53px !important;
  // }



}


@media only screen and (max-width: 1230px) {
footer{
 flex: none;
 & > div#sitefooter{

   & > div{

     & > ul{
       flex-wrap:wrap;
       & > li{
         flex-grow: 1;
         flex-basis: 50%;
         font-size: 1.3rem;
         &:first-child{
           overflow: hidden;
           & img{
             width: 200px;
             height: auto;
           }
           & > a{
             font-size: 0;
           }
         }
         &:nth-of-type(1){
        //  border:1px solid orange;
          order:1;
         }
         &:nth-of-type(2){
        //  border:1px solid red;
          order: 3;
         }
         &:nth-of-type(3){
        //  border:1px solid green;
            order: 2;

         }
         &:nth-of-type(4){
        //  border:1px solid blue;
          order:4;
          margin-top:10px;
         }

         & > a{
           color: rgba(255,255,255,1.0);
           font-size:1.4rem;
           font-weight:300;
           &.download{
             border: solid rgba(255,255,255,1.0) 1px;
             background: rgba(0,0,0,1.0);
             height: $navigation-height;
             line-height: $navigation-height;
             display: block;
             color: rgba(255,255,255,1.0);
             width: 180px;
             text-transform: uppercase;
             text-align: center;
             letter-spacing: 1px;
           }
           &:not(.download):hover{
             color: red;
             text-decoration: underline;
           }
         }
         &:not(.contact){
           & > a{
             text-transform: uppercase;
             font-size: 1.6rem;
             font-weight:700;
           }
         }
       }
     }
   }
 }
}}






@media only screen and (max-width: 1200px) {
  // .nu__col-left {
  //   & ul {
  //     & li {
  //       font-size:2rem;
  //     }
  //   }
  // }

  footer > div#sitefooter > div > ul {

  }



}

@media only screen and (max-width: 1190px) {
  main#homepage > section#approach > div:nth-of-type(1) > h4:before {
    width:35px;
  }
  main#homepage > section#approach > div:nth-of-type(1) > h2 {
    float:left;
    width:65%;
    margin:0 1vw 50px 53px;
  }

  h4 {
    &:before {
      width:35px !important;
    }
  }
}

@media only screen and (max-width: 1160px) {
  main#homepage > section#expertise div h3 {
    line-height:1.3em ;
  }

  main#homepage > section#expertise div p {
    line-height:1.8em;
  }
}

@media only screen and (max-width: 1100px) {
  main#homepage > section#expertise div h3 {
    line-height:1.3em ;
    font-size:1.8rem !important;
  }

  main#homepage > section#expertise div p {
    line-height:1.8em;
  }
}


@media only screen and (max-width: 1200px) {
  .nu__col-left {
    & ul {
      & li {
        font-size:1.5rem;
      }
    }
  }
}


@media only screen and (max-width: 1000px) {
  .nu__col-left {
  display:none;
    flex: 0 0 236px;
    & ul {

      & li {

        font-size:1.8rem;
        & a {
          &.active {


          }
        }
      }
    }

  }

  .nu__col-right {
    & img {
      padding-left:0;
      float:none;
      width:100%;
    }
    & p {
      max-width:100%;
    }
  }

  .nu__col-copy {
    margin-left:0;
  }

  #map {
    float:none;
    width:100%;
    margin-left:0;
    width:100%;
  }

  .nu__col-list {
    width:100%;
    float:none;
    &:last-of-type {
      margin-left:0;
    }
  }


}

@media only screen and (max-width: 990px) {
  body {
    line-height:3rem;
    font-size:1.6rem;
  }

  main > section {
    width:90%;
    margin:1vw 5%;
    // /margin:0 auto;
  }

  header > div#header {
    max-width:inherit;
  }



  #contact,
  #directions,
  #shuttle,
  #convening,
  #form,
  #approach,

  footer > div#sitefooter > div,
  header > div#header,
  footer > div#nu__global-footer > div {
  width:90%;
  margin:0 auto;
  //max-width:90vw;

  }

  #form {
    margin-bottom:50px;
    & div.nu__form {
      width:90vw;margin:0 auto;

    }
  }

  main > section:nth-of-type(1),
  footer > div#sitefooter > div,
  footer > div#nu__global-footer > div {
    margin:0 auto;
  }

  h3 {
    line-height:2rem;
  }

  main#homepage > section#approach > div:nth-of-type(1) {
    width:30vw !important;
  }
  main#homepage > section#approach > div:nth-of-type(2) {
    width:72vw !important;
    padding-left:15% !important;
  }

  main#homepage > section#contact > div {
    width:90%;
    margin: 0 5%;
    & h2 {
      width:40%;
    }
    & div {
      width:40%;
    }
  }






}



@media only screen and (max-width: 910px) {
  main#homepage > section#approach > div:nth-of-type(1) {
    width:35vw !important;
    // & h2 {
    //   margin-left:88px;
    // }
  }

  main#homepage > section#approach > div:nth-of-type(2)  {
    padding-left:22% !important;
    line-height:1.5em;
  }


}



@media only screen and (max-width: 990px) {

  main#homepage{

    & > section{

      &#expertise{
        width:90vw !important;
        margin: 0 auto;
        & > div{
          & > div{
            background: rgba(255,255,255,1.0);
            width: ((90vw - ($gutter)) / 1);
            height: (($content-width - ($gutter)) / 1);
             margin: 0 0 ($gutter * 5) 0;
            &.doublewide{
              width: 100%;
            }
            &#materials{
              order: 1;
              -webkit-order: 1;
              margin-right: -10px;
              width: 100%;
              height: auto;
              margin: 0 0 ($gutter * 5) 0;
            }
            &#materialsimage{
              order: 0;
              -webkit-order: 0;
              margin: 0 0 0 0;
            }
            &#structural{
              order: 3;
              -webkit-order: 3;
              width: 100%;
              height: auto;
              margin-top: 0;
              margin: 0 0 ($gutter * 5) 0;
            }
            &#structuralimage{
              order: 2;
              -webkit-order: 2;
              margin: 0 0 0 0;
              width: 100%;
            }
            &#partnerships{
              order: 4;
              -webkit-order: 4;
              width: 100%;
              height: auto;
              margin: 0 0 ($gutter * 10) 0;
            }
            &#manufacturing{
              order: 6;
              -webkit-order: 6;
              width: 100%;
              height: auto;
              margin: 0 0 ($gutter * 5) 0;
            }
            &#manufacturingimage{
              order: 5;
              -webkit-order: 5;
              width: 100%;
              margin: 0 0 0 0;
            }
            &#security{
              order: 8;
              -webkit-order: 8;
              margin-top: 0;
              width: 100%;
              height: auto;
              margin: 0 0 ($gutter * 5) 0;
            }
            &#securityimage{
              order: 7;
              -webkit-order: 7;
              margin: 0 0 0 0;
            }
            &#nano{
              order: 10;
              -webkit-order: 10;
              width: 100%;
              height: auto;
              margin: 0 0 ($gutter * 5) 0;
            }
            &#nanoimage{
              order: 9;
              -webkit-order: 9;
              margin: 0 0 0 0;
            }
            &#analytics{
              order: 12;
              -webkit-order: 12;
              width: 100%;
              height: auto;
            }
            &#analyticsimage{
              order: 11;
              -webkit-order: 11;
              margin: 0 0 0 0;
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 950px) {

main#homepage > section#approach > div:nth-of-type(1) {
  width:41vw !important;
}

  main#homepage > section#approach > div:nth-of-type(1) > h2 {
    width:70%;
  }

  h4 {
    font-size:1.6rem !important;
  }
main#homepage > section#approach > div:nth-of-type(2) {
  padding-left:27% !important;
}

}


@media only screen and (max-width: 860px) {
  footer > div#nu__global-footer {
    height:150px;
  }

}



@media only screen and (max-width: 800px) {
  header {
    & > div#header{
      & .logo {
        & a {
          & img {
            width:250px;
          }
        }
      }
    }
  }

  .nu__section-break {
    margin-top:4vw;
  }

  .nu__hero-header {
    width:75vw;
    & h2 {
      width:70vw;
      font-size:4vw;
      line-height:1.5em;
    }
  }

  .nu__col-right {
    padding-top:0 ;
  }

  .nu__col-copy {
    & h4 {
      font-size:1.6rem;
    }
  }


}


@media only screen and (max-width: 768px) {

  main#homepage .nu__full-hero div h2  {
    font-size:3rem ;
    line-height:2em ;
  max-width:80%;
  }

main#homepage > section#approach > div:nth-of-type(1) {
  width:41vw !important;
}

  main#homepage > section#approach > div:nth-of-type(1) > h2 {
    width:70%;
    //  margin:0 1vw 50px 7vw;
  }

  main#homepage > section#expertise > div > div#partnerships h2 {
    line-height:1;
    margin:5% 0 0 5%;
    font-size:1.8em;
  }

  main#homepage > section#expertise > div > div#partnerships p {
    margin-left:5%;
  }



  h4 {
    font-size:1.6rem !important;
  }
main#homepage > section#approach > div:nth-of-type(2) {
  padding-left:27% !important;
}

main#homepage > section#approach > div:nth-of-type(2) > p {
  font-size:1.6rem;
}

main#homepage > section#expertise > div > div h3 {
  font-size:3.4rem !important;
}

}



@media only screen and (max-width: 750px) {

main#homepage > section#approach > div:nth-of-type(1) {
  width:60vw !important;
  z-index:1;
}

main#homepage > section#approach > div:nth-of-type(2) {
  float:right;
  margin-top:30px;
}

  main#homepage > section#approach > div:nth-of-type(1) > h2 {
    width:70%;
    //  margin:0 1vw 50px 7vw;
  }

  main#homepage > section#expertise > div > div#partnerships h2 {
    line-height:1;
    margin:5% 0 0 5%;
    font-size:1.8em;
  }

  main#homepage > section#expertise > div > div#partnerships p {
    margin-left:5%;
  }

  main#homepage > section#approach > div:nth-of-type(1) h2 {
    font-size:2rem !important;
  }

  h4 {
    font-size:1.6rem !important;
  }
main#homepage > section#approach > div:nth-of-type(2) {
  padding-left:7% !important;
}

main#homepage > section#approach > div:nth-of-type(2) > p {
  font-size:1.6rem;
}

main#homepage > section#expertise > div > div h3 {
  font-size:3.4rem !important;
}

main#homepage > section#approach > div:nth-of-type(2) {
  margin-bottom:50px;
}

}




@media only screen and (max-width: 700px) {


main#homepage > section#contact > div div  {
  width:80%;
  margin-left:5vw;
}

main#homepage > section#contact > div > h2 {
  font-size:2rem;
  line-height:1;
  margin-bottom:20px;
  width:80%;
  margin-top:20px;
}

main#homepage > section#approach > div:nth-of-type(1) h2 {
  line-height:1.5em;
}

main#homepage > section#approach > div:nth-of-type(1) {
  width:90vw !important;
}

main#homepage > section#approach > div:nth-of-type(2) {
  width:90vw !important;
  margin-top:70px;
}

main#homepage > section#expertise > div > div h3 {
  margin-top:-15px !important;
}

footer{
 flex: none;
 & > div#sitefooter{

   & > div{

     & > ul{
       flex-wrap:wrap;
      flex-direction:column;

       & > li{
         flex-grow: 1;
        // flex-basis: 100%;
         font-size: 1.3rem;
         align-items: center;
           -webkit-justify-content: center;
           justify-content: center;
           text-align:center;
         &:first-child{
           overflow: hidden;
           & img{
             width: 200px;
             height: auto;
           }
           & > a{
             font-size: 0;
           }
         }
         &:nth-of-type(1){

          order:1;
         }
         &:nth-of-type(2){
          margin-top:10px;
          order:2;
         }
         &:nth-of-type(3){
          margin-top:10px;
            order: 3;

         }
         &:nth-of-type(4){

          order:4;

          margin:0 auto;
          margin-top:10px;
         }

         & > a{
           color: rgba(255,255,255,1.0);
           font-size:1.4rem;
           font-weight:300;
           &.download{
             border: solid rgba(255,255,255,1.0) 1px;
             background: rgba(0,0,0,1.0);
             height: $navigation-height;
             line-height: $navigation-height;
             display: block;
             color: rgba(255,255,255,1.0);
             width: 180px;
             text-transform: uppercase;
             text-align: center;
             letter-spacing: 1px;
           }
           &:not(.download):hover{
             color: red;
             text-decoration: underline;
           }
         }
         &:not(.contact){
           & > a{
             text-transform: uppercase;
             font-size: 1.6rem;
             font-weight:700;
           }
         }
       }
     }
   }
 }
}}


@media only screen and (max-width: 600px) {
  header {
    & > div#header{
      max-width:90vw;
      & .logo {
        & a {
          & img {
            width:200px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .nu__col-copy {
    & h2 {
      line-height:1.5em;
      font-size:2.5rem;
    }
  }

  .nu__col-list {
    & h2 {
      font-size:2.5rem;
    }
  }


  footer > div#nu__global-footer {
    height:200px;
  }

  .nu__col-right {
    & p {
      margin:2rem 0;
    }
  }

  #nav-btn + span {
    top:52px !important;
  }
  main#homepage > section#approach > div:nth-of-type(1) > h2 {
  //  margin:0 1vw 50px 14.5vw !important;

  }


}


@media only screen and (max-width: 400px) {

  header > div#header .logo a img {
    width:160px;
  }

  #nav-btn + span {
    top:66px;
  }

  .nu__section-break {
    display:none;
  }

  .nu__hero-header {
    width:75vw;
    & h2 {
      width:70vw;
      font-size:5vw;
      line-height:1.5em;
    }
  }

  .nu__col-copy {
    & h4 {
      font-size:1.6rem;
      &:before {
        width:40px;
        margin-right:10px;
      }
    }
  }

  .nu__hero-header {
    & .nu-button {
      font-size:1.2rem;
    }
  }

  .nu__garb {
    border-top:none;
  }

  section#convening {
    & .nu__col-right {
      & ul {
        //display: table;
        & li {
          //display: table-row;
          //list-style-type:decimal;

          line-height:1.5em;
          &:before {
            //display: table-cell; /* aha! */
            //text-align: right;
          }
        }
      }
    }
  }

  main#homepage > section#expertise > div > div#partnerships h2 {
    font-size:2rem !important;
    line-height:1.5em;
  }

  main#homepage > section#expertise > div > div#partnerships p a {
    font-size:1.6rem !important;
  }

  div.wpforms-container-full .wpforms-form .wpforms-field-label {
    font-size:13px !important;
  }

  main#homepage > section#expertise > div > div h3  {
    font-size:2.2rem !important;
  }

  // main#homepage > section#expertise > div > div p {
  //   font-size:2rem !important;
  // }

  h4 {
    font-size:1.4rem !important;
    &:before {
      width:20px !important;
    }
  }

  main#homepage > section#expertise > div > div#partnerships p a {
    font-size:1.4rem !important;
  }

  main#homepage > section#contact > div div  {
    width:80% !important;
  }

}

@media only screen and (max-width: 370px) {
  h4 {
    font-size:1.4rem !important;
    &:before {
      width:20px !important;
    }
  }
}
