section#collage {
  width:100vw;
  margin:0;
  margin-top: 75px;
    & img {
      width:100vw;
      z-index:101;
      position:relative;
    }

}

section#convening {
  & .nu__col-right {
    & ul {
      //list-style-position: inside;
      & li {
        list-style-type: disc;
        list-style-position: inside;
        text-indent: -1em;
        padding-left: 1em;
        margin-bottom:10px
      }
    }
  }
}
