div.wpforms-container-full .wpforms-form input[type="date"], div.wpforms-container-full .wpforms-form input[type="datetime"], div.wpforms-container-full .wpforms-form input[type="datetime-local"], div.wpforms-container-full .wpforms-form input[type="email"], div.wpforms-container-full .wpforms-form input[type="month"], div.wpforms-container-full .wpforms-form input[type="number"], div.wpforms-container-full .wpforms-form input[type="password"], div.wpforms-container-full .wpforms-form input[type="range"], div.wpforms-container-full .wpforms-form input[type="search"], div.wpforms-container-full .wpforms-form input[type="tel"], div.wpforms-container-full .wpforms-form input[type="text"], div.wpforms-container-full .wpforms-form input[type="time"], div.wpforms-container-full .wpforms-form input[type="url"], div.wpforms-container-full .wpforms-form input[type="week"], div.wpforms-container-full .wpforms-form select {
  border:none !important;
  border-bottom:2px solid rgba(151, 151, 151, 1.0) !important;
}

div.wpforms-container-full .wpforms-form textarea {
  border:1px solid $black !important;
}

div.wpforms-container-full .wpforms-form .wpforms-field input.wpforms-error, div.wpforms-container-full .wpforms-form .wpforms-field select.wpforms-error {
  border-bottom:2px solid $red !important;
}

div.wpforms-container-full .wpforms-form .wpforms-field textarea.wpforms-error {
  border:1px solid  $red !important;
}

div.wpforms-container-full .wpforms-form input[type="submit"], div.wpforms-container-full .wpforms-form button[type="submit"], div.wpforms-container-full .wpforms-form .wpforms-page-button {
  background: $black !important;
  color:$white !important;
  &:hover {
    background: $red !important;
  }
}

select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    text-indent: 1px !important;
    text-overflow: '' !important;

}

div.wpforms-container-full .wpforms-form select {
   background: url("../img/arrow.png") no-repeat !important;

    background-position: 99% 50% !important;
    background-repeat: no-repeat !important;
    background-size: auto 25% !important;
    border-radius: 0 !important;


}

#form {
  & div.nu__form  {
    width:47vw;margin:0 auto;
  }
}
