/*
 * Marketing
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* These are variables for the header */
/* These are variables for the main navigation */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
main#news .pagination:first-of-type {
  margin-bottom: 30px; }

main#news .pagination .current {
  padding: 0 2px 10px 2px;
  border-bottom: solid #cc0000 4px;
  font-weight: 700; }

main#news section.newslist > div {
  width: 59vw;
  margin: 0 auto 0 auto; }
  main#news section.newslist > div > ul {
    list-style: none;
    list-style-type: none; }
    main#news section.newslist > div > ul > li {
      margin: 0 0 30px 0;
      clear: both;
      overflow: hidden; }
      main#news section.newslist > div > ul > li > div {
        width: 50%;
        min-height: 300px;
        overflow: hidden;
        float: left; }
        main#news section.newslist > div > ul > li > div > h3 {
          font-size: 2.4rem;
          line-height: 3.2rem;
          font-weight: 700; }
        main#news section.newslist > div > ul > li > div > h4 {
          font-size: 1.6rem;
          line-height: 2.2rem;
          font-weight: 400;
          text-transform: none;
          text-align: left;
          font-size: 1.2rem; }
          main#news section.newslist > div > ul > li > div > h4:before {
            display: none; }
        main#news section.newslist > div > ul > li > div:nth-of-type(1) {
          margin: 0 2% 0 0;
          width: 48%;
          background: black;
          background-position: center center !important;
          background-repeat: no-repeat !important;
          background-size: cover !important; }
        main#news section.newslist > div > ul > li > div > div.kri__more-link {
          border-bottom: 1px solid #cc0000;
          float: left; }
          main#news section.newslist > div > ul > li > div > div.kri__more-link a:before {
            display: block;
            float: left;
            font-family: 'Material Icons';
            content: '\e5c8';
            padding: 4px 10px 0 0;
            line-height: 2.2rem; }

main#news section.breadcrumbs {
  width: 59vw;
  margin: 200px auto 20px auto;
  font-size: 1.2rem; }

main#news section.newsarticle > div {
  width: 59vw;
  margin: 0 auto 0 auto; }
  main#news section.newsarticle > div > div.img {
    width: 100%;
    height: 400px;
    background: black;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important; }
  main#news section.newsarticle > div .nu__caption {
    font-size: 1.2rem;
    font-weight: 700; }
  main#news section.newsarticle > div h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700; }
  main#news section.newsarticle > div p a span {
    font-family: 'Material Icons'; }
  main#news section.newsarticle > div blockquote {
    width: 300px;
    overflow: hidden;
    font-size: 6rem;
    line-height: 7rem;
    word-wrap: break-word;
    float: left;
    border-right: solid #cc0000 10px;
    padding: 0 20px 0 0;
    margin: 0 20px 10px 0; }
    main#news section.newsarticle > div blockquote.right {
      float: right;
      border-left: solid #cc0000 10px;
      border-right: none;
      padding: 0 0 0 20px;
      margin: 0 0 10px 20px; }
  main#news section.newsarticle > div a {
    border-bottom: solid #cc0000 1px; }

@media only screen and (max-width: 1000px) {
  main#news section.newslist > div {
    width: 71vw; }
  main#news section.breadcrumbs {
    width: 71vw;
    margin: 200px auto 0 auto; }
  main#news section.newsarticle > div {
    width: 71vw; } }

@media only screen and (max-width: 990px) {
  main#news section.newslist {
    width: 90vw;
    margin: 0 auto; }
    main#news section.newslist > div {
      width: 90vw; }
  main#news section.breadcrumbs {
    width: 90vw;
    margin: 200px auto 0 auto; }
  main#news section.newsarticle {
    width: 90vw;
    margin: 0 auto; }
    main#news section.newsarticle > div {
      width: 90vw; } }

@media only screen and (max-width: 600px) {
  .alignleft, .alignright, .aligncenter {
    width: 100%; }
  main#news section.newslist > div > ul > li > div {
    width: 100%;
    float: none; }
    main#news section.newslist > div > ul > li > div:last-of-type {
      min-height: auto; }
    main#news section.newslist > div > ul > li > div:nth-of-type(1) {
      width: 100%; }
  main#news section.newsarticle > div > div.img {
    height: 250px; } }
