// /*
//  * homepage
//  */

$columns: 3;

main {
  min-height:calc(100vh - 200px);
}

main#homepage{

  margin: $header-height 0 0 0;
  padding-bottom:0;

  // background: red;

 .nu__full-hero {
    height:480px;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;

     & div {

       & h2 {
         text-align:center;
         font-size:5.6rem;
         color:$white;
         font-weight:300;
         line-height: 72px;
         text-shadow: 2px 2px 6px rgba(0,0,0,0.50);
         max-width:850px;
         width:100%;
         margin:0 auto;

         & span {
           font-weight:700;
         }
       }
     }
  }

  & > section{

    //min-height: 200px;
    overflow: hidden;
    margin-bottom: 50px;
    background: rgba(255,255,255,1.0);

    & > ul{
      list-style: none;
      list-style-type: none;
      overflow: hidden;
      & > li{
        float: left;
        width: (($content-width - ($gutter * 2)) / $columns);
        background: rgba(255,255,255,1.0);
        height: 300px;
        min-height: 300px;
        margin: 0 $gutter $gutter 0;
        &:nth-child(#{$columns}n+#{$columns}){
          margin: 0 0 $gutter 0;
        }
        & h3{
          border-bottom: solid rgba(0,0,0,1.0) 1px;
          padding: 0 0 $gutter 0;
          margin: 0 0 $gutter 0;
        }
        &:not(.copy){
          & > div:nth-of-type(1){
            width: 100%;
            min-height: inherit;
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-image: url('//fpoimagery.com/?t=px&w=500&h=500&bg=0ff&fg=000000');
          }
        }
        &.copy{
          padding-right: 130px;
        }
        &.right{
          text-align: right;
          padding-right: 0;
          padding-left: 130px;
        }
        &.dark{
          background: rgba(0,0,0,1.0);
          color: rgba(255,255,255,1.0);
          // padding: $gutter $gutter $gutter $gutter;
        }
      }
    }

    &.dark{
      background: rgba(0,0,0,1.0);
    }

    &#intro,
    &#collage,
    &#contact{
      width: 100vw;
      margin: 0 0 0 0;
    }

    &#intro{
      & > h1{
        position: absolute;
        width: 30vw;
        margin: 100px 35vw 0 35vw;
        font-weight: lighter;
        text-align: center;
        font-size: 4rem;
        line-height: 5rem;
        color: rgba(255,255,255,1.0);
        & > span{
          font-weight: 700;
        }
      }
      & > img {
        width:100%;
      }
    }

    &#collage {
      & > img {
        width:100%;
      }
    }

    &#approach{
      overflow: visible;
      & > div{

        &:nth-of-type(1){
          position: absolute;
          overflow:hidden;
          width: 23vw;
          margin: -70px 0 0 0;
          background: rgba(0,0,0,1.0);


          & > h2{
            color: rgba(255,255,255,1.0);
            margin: 0 $gutter 50px 90px;
            font-size:4.5rem;
            line-height:2.8vw;
            padding-right:10px;
          }
          /* 28px @ 700px increasing to 45px @ 1500px */
          @media (min-width: 700px) {
            h2 {
              font-size: calc(1.75rem + ((1vw - 7px) * 2.125));
              /* Where: * 2.125 = 100 * font_Size_Difference / viewport_Width_Difference */
            }
          }
          /* Prevent font scaling beyond this breakpoint */
          @media (min-width: 1500px) {
            h2 {
              font-size: 45px;
            }
          }


          & > h4{
            color: rgba(255,255,255,1.0);
          }

        }
        &:nth-of-type(2){
          width: 53vw;
          margin: $gutter 0 0 18vw;
          border: solid #efefef 10px;
          padding: 50px 50px 50px 8%;
          & > p{
            margin: 0 0 2.6% 0;
            font-size:2.4rem;
            &:last-child{
              margin: 0 0 0 0;
            }
            & > span{
              color: rgba(205,0,0,1.0);
            }
          }
          & > a{
            color: rgba(0,0,0,1.0);
            font-size:1.6rem;
            font-weight:700;
            &.download{
              border: solid rgba(0,0,0,1.0) 1px;
              background: rgba(255,255,255,1.0);
              height: $navigation-height;
              line-height: $navigation-height;
              display: block;
              color: rgba(0,0,0,1.0);
              width: 180px;
              text-transform: uppercase;
              text-align: center;
              letter-spacing: 1px;
            }
            &:not(.download):hover{
              color: red;
              text-decoration: underline;
            }
          }
          /* 18px @ 700px increasing to 24px @ 1500px */
          @media (min-width: 700px) {
            p {
              font-size: calc(1.125rem + ((1vw - 7px) * 0.75));
              /* Where: * 0.75 = 100 * font_Size_Difference / viewport_Width_Difference */
            }
          }
          /* Prevent font scaling beyond this breakpoint */
          @media (min-width: 1500px) {
            p {
              font-size: 24px;
            }
          }
        }
      }
    }













    &#expertise{

      & > div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-basis: 0;
        & > div{
          flex-grow: 0;
          background: rgba(239, 239, 239, 1.0);
          width: (($content-width - ($gutter)) / 3);
          height: (($content-width - ($gutter)) / 3);
          margin: 0 0 $gutter 0;
          & h3 {
            font-weight:300;
            font-size:3.4rem;
            border-bottom:2px solid rgba(123, 119, 120, 1.0);
            max-width:76%;
            margin-left:8%;
            //margin-top:6%;
            padding-bottom:3.7%;
          }
          /* 28px @ 700px increasing to 34px @ 1500px */
            @media (min-width: 1100px) {
              h3 {
                font-size: calc(1.75rem + ((1vw - 7px) * 0.75));
                /* Where: * 0.75 = 100 * font_Size_Difference / viewport_Width_Difference */
              }
            }
            /* Prevent font scaling beyond this breakpoint */
            @media (min-width: 1500px) {
              h3 {
                font-size: 34px;
              }
            }

          & p {
            max-width:76%;
            margin-left:8%;
            margin-top:3.7%;
            font-weight:300;
          //  font-size:2.4rem;

          }
          /* 18px @ 700px increasing to 24px @ 1500px */
          // @media (min-width: 700px) {
          //   p {
          //     font-size: calc(1.125rem + ((1vw - 7px) * 0.75));
          //     /* Where: * 0.75 = 100 * font_Size_Difference / viewport_Width_Difference */
          //   }
          // }
          // /* Prevent font scaling beyond this breakpoint */
          // @media (min-width: 1500px) {
          //   p {
          //     font-size: 24px;
          //   }
          // }
          &.doublewide{
            width: ((($content-width - ($gutter)) / 3) * 2);
          }
          &.bgimage{
            background: url('https://dummyimage.com/410/410/fff.jpg'); background-size: cover; background-position: center center;
          }
          &.gutter-right{
            margin: 0 $gutter $gutter 0;
          }
          &#materials{
            // order: 1;
          }
          &#materialsimage{
            // order: 0;
          }
          &#structural{
            // order: 4;
            height: (($content-width - ($gutter)) / 3) + $gutter;
            margin-top: (-1 * $gutter);
          }
          &#structuralimage{
            // order: 5;
          }
          &#partnerships{
            // order: 4;
            background: rgba(0,0,0,1.0);
            color: rgba(255,255,255,1.0);
            & h2 {
              color:$white;
              font-size:4.5rem;
              max-width:74%;
              margin:11% 0 0 11%;
            }
            /* 36px @ 1024px increasing to 45px @ 1800px */
            @media (min-width: 901px) {
              h2 {
                font-size: calc(2.25rem + ((1vw - 10.24px) * 1.1598));
                /* Where: * 1.1598 = 100 * font_Size_Difference / viewport_Width_Difference */
              }
            }
            /* Prevent font scaling beyond this breakpoint */
            @media (min-width: 1800px) {
              h2 {
                font-size: 45px;
              }
            }
            & p {
              margin-left:11%;
              & a {
                color:$red;
                font-weight:700;
                font-size:2.4rem;
                &:hover {
                  color:$white;
                }
              }

            }

          }
          &#manufacturing{
            // order: 6;
          }
          &#manufacturingimage{
            // order: 7;
          }
          &#security{
            // order: 11;
            height: (($content-width - ($gutter)) / 3) + $gutter;
            margin-top: (-1 * $gutter);
          }
          &#securityimage{
            // order: 8;
          }
          &#nano{
            // order: 10;
          }
          &#nanoimage{
            // order: 9;
          }
          &#analytics{
            // order: 13;
            width: ((($content-width - ($gutter)) / 3) * 2) + $gutter;
            & > div{
              &.bordered-right{
                margin: 1% 1.5% 1% 0;
                width: 99%;
                height: 96%;
              }
            }
          }
          &#analyticsimage{
            // order: 12;
          }
          & > div{
            background: rgba(255,255,255,1.0);
            width: 95%;
            height: 95%;
            margin: 2.5% 2.5% 2.5% 2.5%;
            padding: 10px;
            &.bordered-right{
              margin: 2.5% 2.5% 2.5% 0;
              width: 97.5%;
            }
            &.bordered-bottom{
              margin: 0 2.5% 2.5% 2.5%;
              height: 97.5%;
            }
            &.bordered-left{
              margin: 2.5% 0 2.5% 2.5%;
              width: 97.5%;
            }
          }
        }
      }

    }

    &#contact{
      padding: 0 0 124px 0;
      & > div{
        color: rgba(255,255,255,1.0);
        width: $content-width;
        margin: 0 nth($wrapper-margins, 2) 0 nth($wrapper-margins, 4);
        & > h2{
          display: inline-block;
          width: 29vw;
          margin: 0 $gutter 0 5vw;
          vertical-align: top;
          font-size:4.5rem;
          font-weight:300;
        }
        /* 28px @ 700px increasing to 45px @ 1500px */
        @media (min-width: 700px) {
          h2 {
            font-size: calc(1.75rem + ((1vw - 7px) * 2.125));
            /* Where: * 2.125 = 100 * font_Size_Difference / viewport_Width_Difference */
          }
        }
        /* Prevent font scaling beyond this breakpoint */
        @media (min-width: 1500px) {
          h2 {
            font-size: 45px;
          }
        }
        & > div{
          display: inline-block;
          width: 28vw;
          margin: 0 5vw 0 $gutter;
          & p {
            font-weight:400;
            & a {
              font-size:2.4rem;
              &.nu__form-submit {
                border-color: $red;
                border-style: solid;
                border-width: 1px;
                color: #fff;
                display: inline-block;
                font-size: 1.8rem;
                font-weight: 400;
                padding: 7px 25px;
                text-decoration: none;
                text-transform: uppercase;
                background: #000 none repeat scroll 0 0;
                margin-top:15px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }

    &#form{
      border: solid #efefef 1px;
      margin-top: -130px;
      & > div{
        margin: $gutter 5vw $gutter 5vw;
        & form{
          vertical-align: top;
          clear: both;
          & .wpforms-field{
            clear: none;
          }
          & div[data-field-id='0'],
          & div[data-field-id='1'],
          & div[data-field-id='3'],
          & div[data-field-id='4'],
          & div[data-field-id='5']{
            float: left;
            width: 48%;
          }
          & div[data-field-id='2']{
            float: right;
            width: 48%;
            height: 500px;
            & > textarea{
              height: 370px;
              resize: none;
            }
          }
        }
      }
    }

    // &#collage{
    //   // background: #efefef;
    // }

  }

}








//@import "partials/responsive";
