/*
 * homepage
 */


 // Modules
 @import "modules/variables";
 @import "modules/mixins";
 @import "modules/fonts";






  $columns: 3;



  main#homepage{

    margin: $header-height 0 0 0;

    & > section{

      min-height: 200px;
      overflow: hidden;
      margin-bottom: 50px;
      background: rgba(255,255,255,1.0);

      & > ul{
        list-style: none;
        list-style-type: none;
        overflow: hidden;
        & > li{
          float: left;
          width: (($content-width - ($gutter * 2)) / $columns);
          background: rgba(255,255,255,1.0);
          min-height: 300px;
          margin: 0 $gutter $gutter 0;
          &:nth-child(#{$columns}n+#{$columns}){
            margin: 0 0 $gutter 0;
          }
          & h3{
            border-bottom: solid rgba(0,0,0,1.0) 1px;
            padding: 0 0 $gutter 0;
            margin: 0 0 $gutter 0;
          }
          &:not(.copy){
            & > div:nth-of-type(1){
              width: 100%;
              min-height: inherit;
              background-position: center center;
              background-repeat: no-repeat;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
              background-image: url('//fpoimagery.com/?t=px&w=500&h=500&bg=0ff&fg=000000');
            }
          }
          &.copy{
            padding-right: 130px;
          }
          &.right{
            text-align: right;
            padding-right: 0;
            padding-left: 130px;
          }
          &.dark{
            background: rgba(0,0,0,1.0);
            color: rgba(255,255,255,1.0);
            padding: $gutter $gutter $gutter $gutter;
          }
        }
      }

      &.dark{
        background: rgba(0,0,0,1.0);
      }

      &#intro,
      &#collage,
      &#contact{
        width: 100vw;
        margin: 0 0 0 0;
      }

      &#intro{
        & > h1{
          position: absolute;
          width: 30vw;
          margin: 100px 35vw 0 35vw;
          font-weight: lighter;
          text-align: center;
          font-size: 4rem;
          line-height: 5rem;
          color: rgba(255,255,255,1.0);
          & > span{
            font-weight: 700;
          }
        }
      }

      &#approach{
        overflow: visible;
        & > div{

          &:nth-of-type(1){
            position: absolute;

            width: 20vw;
            margin: -70px 0 0 0;
            background: rgba(0,0,0,1.0);

            & > h2{
              color: rgba(255,255,255,1.0);
              margin: 0 $gutter 50px 90px;
            }

            & > h4{
              color: rgba(255,255,255,1.0);
            }

          }
          &:nth-of-type(2){
            width: 52vw;
            // min-height: 500px;
            margin: $gutter 0 0 18vw;
            border: solid #efefef 10px;
            padding: 50px 50px 50px 80px;
            & > p{
              margin: 0 0 30px 0;
              &:last-child{
                margin: 0 0 0 0;
              }
              & > span{
                color: rgba(255,0,0,1.0);
              }
            }
          }
        }
      }

      &#expertise{
        & > ul{
          &:nth-of-type(1){
            & > li{
              &:nth-child(3){
                & > h2{
                  padding: 0 120px 0 0;
                  & i{
                    font-style: normal;
                    font-size: 2rem;
                  }
                }
              }
            }
          }
          &:nth-of-type(2){
            & > li:nth-of-type(1){
              width: (($content-width - ($gutter * 2)) / $columns) * 2 + $gutter;
              background: rgba(255,255,255,1.0);
              border: solid #efefef 10px;
              padding: 50px 100px 50px 100px;
            }
            & > li:nth-of-type(2){
              margin: 0 0 $gutter 0;
            }
          }
          &:nth-of-type(3){
            & > li > div:nth-of-type(2){
              margin: $gutter 0 0 0;
              padding-right: 120px;
            }
          }
        }
      }

      &#contact{
        padding: 0 0 150px 0;
        & > div{
          color: rgba(255,255,255,1.0);
          width: $content-width;
          margin: 0 nth($wrapper-margins, 2) 0 nth($wrapper-margins, 4);
          & > h2{
            display: inline-block;
            width: 28vw;
            margin: 0 $gutter 0 5vw;
            vertical-align: top;
          }
          & > div{
            display: inline-block;
            width: 28vw;
            margin: 0 5vw 0 $gutter;
          }
        }
      }

      &#form{
        border: solid #efefef 1px;
        margin-top: -130px;
        & > div{
          margin: $gutter 5vw $gutter 5vw;
          & form{
            vertical-align: top;
            clear: both;
            & .wpforms-field{
              clear: none;
            }
            & div[data-field-id='0'],
            & div[data-field-id='1'],
            & div[data-field-id='3'],
            & div[data-field-id='4'],
            & div[data-field-id='5']{
              float: left;
              width: 48%;
            }
            & div[data-field-id='2']{
              float: right;
              width: 48%;
              height: 500px;
              & > textarea{
                height: 370px;
                resize: none;
              }
            }
          }
        }
      }

      // &#collage{
      //   // background: #efefef;
      // }

    }

  }
