/*
 * Marketing
 */


 // Modules
 @import "modules/variables";
 @import "modules/mixins";
 @import "modules/fonts";




main#news{

.pagination {
    &:first-of-type {
      margin-bottom:30px;
    }
    .current {
      padding: 0 2px 10px 2px;
      border-bottom: solid #cc0000 4px;
      font-weight:700;

    }
  }

  section.newslist{
    & > div{
      width: 59vw;
      margin: 0 auto 0 auto;
      & > ul{
        list-style: none;
        list-style-type: none;

        & > li{
          margin: 0 0 30px 0;
          clear: both;
          overflow: hidden;
          & > div{
            width: 50%;
            min-height: 300px;
            overflow: hidden;
            float: left;
            & > h3 {
              font-size: 2.4rem;
              line-height: 3.2rem;
              font-weight: 700;
            }
            & > h4{
              font-size: 1.6rem;
              line-height: 2.2rem;
              font-weight: 400;
              text-transform: none;
              text-align: left;
              &:before{
                display: none;
              }
              font-size: 1.2rem;
            }
            &:nth-of-type(1){
              margin: 0 2% 0 0;
              width: 48%;
              background: rgba(0,0,0,1.0);
              background-position: center center !important;
              background-repeat: no-repeat !important;
              background-size: cover !important;
            }
            & > div.kri__more-link {
              border-bottom: 1px solid #cc0000;
              float:left;
              & a {
                &:before {
                  display: block;
                  float: left;
                  font-family: 'Material Icons';
                  content: '\e5c8';
                  padding: 4px 10px 0 0;
                  line-height: 2.2rem;
                }
              }
            }
          }
        }
      }
    }
  }

  section.breadcrumbs{
    width: 59vw;
    margin: 200px auto 20px auto;
    font-size:1.2rem;
  }

  section.newsarticle{
    & > div{
      width: 59vw;
      margin: 0 auto 0 auto;

      & > div.img{
        width: 100%;
        height: 400px;
        background: rgba(0,0,0,1.0);
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
      & .nu__caption {
        font-size:1.2rem;
        font-weight: 700;
      }
      & h2 {
        // line-height: 4rem;
        margin-bottom:30px;
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: 700;
      }
      & p {
        & a {
          & span {
            font-family: 'Material Icons';
          }
        }
      }

      blockquote{
        width: 300px;
        overflow: hidden;
        font-size: 6rem;
        line-height: 7rem;
        word-wrap: break-word;
        float: left;
        border-right: solid #cc0000 10px;
        padding: 0 20px 0 0;
        margin: 0 20px 10px 0;
        &.right{
          float: right;
          border-left: solid #cc0000 10px;
          border-right: none;
          padding: 0 0 0 20px;
          margin: 0 0 10px 20px;
        }
      }

      a{
        border-bottom: solid #cc0000 1px;
      }

    }
  }

}

@media only screen and (max-width: 1000px){
  $width: 71vw;
  main#news{

  .pagination {
      &:first-of-type {

      }
      .current {


      }
    }

    section.newslist{
      & > div{
        width: $width;

        & > ul{


          & > li{

            & > div{

              & > h4{

              }
              &:nth-of-type(1){

              }
            }
          }
        }
      }
    }

    section.breadcrumbs{
      width: $width;
      margin: 200px auto 0 auto;
    }

    section.newsarticle{
      & > div{
        width: $width;


        & > div.img{

        }
        & .nu__caption {

        }
        & h2 {

        }
        & p {
          & a {
            & span {

            }
          }
        }

        blockquote{

          &.right{

          }
        }

        a{

        }

      }
    }

  }
}



@media only screen and (max-width: 990px){
  $width: 90vw;
  main#news{

  .pagination {
      &:first-of-type {

      }
      .current {


      }
    }

    section.newslist{
      width: $width;
        margin:  0 auto;
      & > div{
        width: $width;


        & > ul{


          & > li{

            & > div{

              & > h4{

              }
              &:nth-of-type(1){

              }
            }
          }
        }
      }
    }

    section.breadcrumbs{
      width:$width;
      margin: 200px auto 0 auto;
    }

    section.newsarticle{
      width: $width;
        margin:  0 auto;
      & > div{
        width: $width;


        & > div.img{

        }
        & .nu__caption {

        }
        & h2 {

        }
        & p {
          & a {
            & span {

            }
          }
        }

        blockquote{

          &.right{

          }
        }

        a{

        }

      }
    }

  }


}

@media only screen and (max-width: 600px){

  .alignleft, .alignright, .aligncenter {
    width:100%;
  }

  main#news{

  .pagination {
      &:first-of-type {

      }
      .current {


      }
    }

    section.newslist{

      & > div{



        & > ul{


          & > li{

            & > div{
              width:100%;
              float:none;
              &:last-of-type{
                min-height: auto;
              }
              & > h4{

              }
              &:nth-of-type(1){
                width:100%;
              }
            }
          }
        }
      }
    }

    section.breadcrumbs{

    }

    section.newsarticle{

      & > div{



        & > div.img{
          height: 250px;
        }
        & .nu__caption {

        }
        & h2 {

        }
        & p {
          & a {
            & span {

            }
          }
        }

        blockquote{

          &.right{

          }
        }

        a{

        }

      }
    }

  }


}
