/*
 * Marketing
 */


 // Modules
 @import "modules/variables";
 @import "modules/mixins";
 @import "modules/fonts";




main#staff{

  $columns: 5;


  section.departmenthead{
    width: 48vw;
    margin: 30px auto 0 auto;
    & > div{
      width: 31vw;
      float: left;
      margin: 0 2vw 0 0;
      &:nth-of-type(2){
        width: (($content_width - ($gutter * ($columns - 1))) / $columns);
        height: (($content_width - ($gutter * ($columns - 1))) / $columns);
        margin: 0 0 0 0;
        background: rgba(0,0,0,1.0);
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
    }
  }



  section.stafflist{



    width: $wrapper-width;
    margin: 0 auto 0 auto;
    overflow: hidden;
    padding: 0 0 ($gutter * 3) 0;
    & > div{
      // background: red;
      overflow: hidden;
      width: $content_width;
      margin: 0 auto 0 auto;
      padding: ($gutter * 2) 0 0 0;
      text-align: center;
      & > h2{
        width: $content_width;
        border-bottom: solid rgba(48, 154, 168, 1.0) 1px;
        margin: 0 auto 0 auto;
        font-size: 3.4rem;
        letter-spacing: 2px;
        line-height: 4.8rem;
      }
      & > ul{
        overflow: hidden;
        width: $content_width;
        margin: ($gutter * 2) auto 0 auto;
        list-style: none;
        list-style-type: none;
        & > li{
          $width: (($content_width - ($gutter * ($columns - 1))) / $columns);
          width: $width;
          height: auto;
          float: left;
          // background: #efefef;
          margin: 0 $gutter $gutter 0;
          position: relative;
          & > a{
            & > div{
              width: $width;
              height: $width;
              background: rgba(0,0,0,1.0);
              background-position: center center !important;
              background-repeat: no-repeat !important;
              background-size: cover !important;
            }
          }
          // & > div{
          //   background: rgba(0,0,0,0.8);
          //   position: absolute;
          //   bottom: 0;
          //   margin: 0 10px 10px 10px;
          //   width: calc(100% - 20px);
          //   padding: 10px 20px 10px 20px;
          //   overflow: hidden;
          //   min-height: 100px;
          //   color: rgba(255,255,255,1.0);
          //   & > p{
          //     line-height: 2.5rem;
          //     text-align: left;
          //     width: 90%;
          //     margin: 0 0 0 0;
          //     font-size: 1.5rem;
          //   }
          //   & > div.biocontent{
          //     display: none;
          //     & > p{
          //       color: rgba(204, 0, 0, 1.0);
          //     }
          //   }
          //   & > a{
          //     position: absolute;
          //     right: 20px;
          //     top: 8px;
          //     text-align: left;
          //     color: rgba(255,255,255,1.0);
          //     font-weight: 200;
          //     border: solid rgba(255,255,255,1.0) 1px;
          //     padding: 5px 10px 5px 10px;
          //     text-transform: uppercase;
          //     font-size: 1.25rem;
          //     margin: 10px 0 0 0;
          //     &:hover{
          //       color: rgba(204, 0, 0, 1.0);
          //     }
          //   }
          // }
          &:nth-child(#{$columns}n+#{$columns}){
            margin: 0 0 $gutter 0;
          }
        }
      }
    }
  }
}





#staffbio{
  background: rgba(255,255,255,1.0);
  margin: 0 10vw 0 10vw;
  padding-bottom: 0;
  padding: $gutter 0 $gutter 0;

  & > div.contact{
    clear: both;
    overflow: hidden;
    & > div{
      float: left;
      width: 34vw;
      margin: 0 $gutter 0 0;
      &:nth-of-type(2){
        width: 15vw;
        height: 15vw;
        margin: 0 0 0 0;
        background: rgba(0,0,0,1.0);
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }
    }
  }

}





@media only screen and (max-width: 1200px){

  main#staff{

    section.stafflist{

      & > div{
        & > ul{
          margin: ($gutter * 2) auto 0 auto;
          & > li{
            width: 50vw;
            float: none;
            margin: 0 auto ($gutter * 3) auto;
            &:nth-child(2n+2){
              margin: 0 auto ($gutter * 3) auto;
            }
          }
        }
      }
    }
  }

}


@media only screen and (max-width: 800px){

  main#staff{

    section.stafflist{
      & > div{
        & > ul{
          & > li{
            width: 70vw;
          }
        }
      }
    }
  }

}


@media only screen and (max-width: 600px){

  main#staff{
    section.stafflist{
      width: 100%;
      & > div{
        width: 100%;
        & > ul{
          width: 100%;
          & > li{
            width: 100%;
          }
        }
      }
    }
  }

}
