@charset "UTF-8";
/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* These are variables for the header */
/* These are variables for the main navigation */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  height: 100%; }

body {
  font-family: "Lato", sans-serif, FontAwesome;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 400;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  min-height: 100%; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  outline: 0;
  color: #000;
  text-decoration: none;
  border-bottom: none; }
  a:focus, a:hover {
    text-decoration: none; }
  a:active {
    text-decoration: none; }

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit; }

::selection {
  background-color: #04A4CC;
  color: #fff;
  text-shadow: none; }

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 5px 15px 15px 0; }

.aligncenter {
  display: block;
  margin: 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 15px 15px; }

.alignleft {
  float: left;
  margin: 5px 15px 15px 0; }

/**
 * Gallery & images
 */
.wp-caption {
  background: #fff;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center; }
  .wp-caption img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none;
    padding: 0;
    margin: 0; }

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 1.8rem;
  line-height: 3rem; }

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.reset-box {
  padding: 0;
  margin: 0; }

/**
 * partials/wrapper
 * ---
 */
.wrapper {
  flex: 1;
  max-width: 100vw; }

/**
 * partials/header
 * ---
 */
header {
  flex: none;
  background: black;
  height: 110px;
  left: 0;
  position: fixed;
  top: 40px;
  width: 100vw;
  z-index: 1000; }
  header > div#header {
    max-width: 71vw;
    width: 100%;
    margin: 0 auto 0 auto;
    height: 110px;
    display: table;
    overflow: hidden;
    position: relative; }
    header > div#header .logo {
      display: table-cell;
      vertical-align: middle; }
      header > div#header .logo a img {
        float: left;
        max-width: 300px;
        width: 100%; }
        header > div#header .logo a img path {
          fill: white; }
        header > div#header .logo a img:hover path {
          fill: #cc0000; }

@media only screen and (max-width: 1080px) {
  header > div#secondarynav > ul {
    height: 30px;
    overflow: hidden; }
    header > div#secondarynav > ul.open {
      height: auto;
      background: #636363; }
      header > div#secondarynav > ul.open li a {
        color: white; }
    header > div#secondarynav > ul > li {
      text-align: right;
      padding: 0 20px 0 20px;
      display: block; }
      header > div#secondarynav > ul > li:nth-child(1) {
        display: block; }
  header > div#logo > a img {
    height: 70px;
    margin: 20px 0 0 0; } }

@media only screen and (max-width: 700px) {
  header > div#secondarynav {
    margin: 1vw 5vw 0 0; }
  header > div#logo {
    width: auto;
    height: 90px;
    margin: 0 0 20px 5vw; }
    header > div#logo img {
      height: 70px; } }

/**
 * partials/nav
 * ---
 * Menus
 */
nav.nu__main-nav {
  width: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  display: block; }
  nav.nu__main-nav > ul {
    width: auto;
    margin: 30px 0 30px 0;
    list-style: none;
    list-style-type: none; }
    nav.nu__main-nav > ul > li {
      float: left; }
      nav.nu__main-nav > ul > li:last-child > a {
        font-weight: 700;
        font-size: 1.75rem;
        padding-right: 0; }
      nav.nu__main-nav > ul > li > a {
        display: block;
        color: white;
        padding: 0 18px;
        height: 50px;
        line-height: 50px;
        font-size: 1.6rem;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px; }
        nav.nu__main-nav > ul > li > a:hover {
          text-decoration: none;
          color: white; }
      nav.nu__main-nav > ul > li.active > a {
        color: white;
        font-weight: 700; }
      nav.nu__main-nav > ul > li.download {
        border: solid white 1px;
        background: black; }
    nav.nu__main-nav > ul > li:not(.download) > a:hover {
      color: white;
      font-weight: 700; }

nav.nu__mobile-nav {
  background: rgba(0, 0, 0, 0.9) none repeat scroll 0% 0%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 0.5s ease 0s, visibility 0s ease 0.5s;
  visibility: 0;
  width: 100%;
  z-index: -1;
  display: none; }
  nav.nu__mobile-nav ul {
    left: 50%;
    moz-transition: all 1s ease-in-out;
    o-transition: all 1s ease-in-out;
    position: absolute;
    top: 50%;
    transform: translate(-50%, 0%);
    transition: all 1s ease-in-out;
    webkit-transition: all 1s ease-in-out;
    width: 80%; }
    nav.nu__mobile-nav ul li {
      text-transform: uppercase;
      list-style-type: none;
      padding-bottom: 10px;
      text-align: center; }
      nav.nu__mobile-nav ul li:last-child > a {
        font-weight: bolder;
        font-size: 2rem;
        padding-right: 0; }
      nav.nu__mobile-nav ul li a {
        display: block;
        color: white;
        font-size: 2.4rem;
        line-height: 4rem;
        text-decoration: none; }
        nav.nu__mobile-nav ul li a:hover {
          color: white;
          font-weight: 700; }
      nav.nu__mobile-nav ul li.active a {
        color: white;
        font-weight: 700; }
      nav.nu__mobile-nav ul li.download {
        border: none;
        background: none;
        display: block; }
        nav.nu__mobile-nav ul li.download:hover {
          background: none; }

.neu__active {
  text-decoration: none;
  color: white;
  font-weight: 900; }

#nav-btn {
  cursor: pointer;
  height: 56px;
  opacity: 0;
  position: absolute;
  right: 15px;
  width: 56px;
  z-index: -1;
  top: 27px; }

#nav-btn + label {
  display: block;
  height: 2px;
  height: 44px;
  left: 18px;
  position: absolute;
  right: 18px;
  top: 70px;
  width: 44px; }

#nav-btn + span {
  background-color: #ccc;
  cursor: pointer;
  display: block;
  height: 2px;
  position: absolute;
  right: 20px;
  top: 54px;
  width: 44px;
  z-index: 99;
  display: none; }

#nav-btn + span::before,
#nav-btn + span::after {
  background-color: #ccc;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 44px; }

#nav-btn + span::before {
  top: -15px; }

#nav-btn + span::after {
  bottom: -15px; }

#nav-btn:checked + span {
  background-color: #F5060A; }

#nav-btn + span::before,
#nav-btn + span::after {
  transition-delay: 0.3s, 0s;
  transition-duration: 0.3s, 0.3s; }

#nav-btn + span::before {
  transition-property: top, transform; }

#nav-btn + span::after {
  transition-property: bottom, transform; }

#nav-btn:checked + span {
  background: none; }

#nav-btn:checked + span::before {
  top: 0;
  transform: rotate(45deg); }

#nav-btn:checked + span::after {
  bottom: 0;
  transform: rotate(-45deg); }

#nav-btn:checked + span::before,
#nav-btn:checked + span::after {
  transition-delay: 0s, 0.3s; }

#nav-btn:checked ~ nav {
  left: 0px;
  opacity: 100;
  position: fixed;
  visibility: 1;
  z-index: 98; }

#nav-btn:checked ~ nav ul {
  transform: translate(-50%, -50%); }

/**
 * partials/footer
 * ---
 */
footer {
  flex: none;
  position: relative;
  z-index: 101; }
  footer > div#sitefooter {
    background: black;
    color: white;
    width: 100%;
    padding: 20px 0 20px 0;
    height: auto; }
    footer > div#sitefooter > div {
      width: 71vw;
      margin: 0 14.5vw 0 14.5vw;
      position: relative; }
      footer > div#sitefooter > div > ul {
        list-style: none;
        list-style-type: none;
        display: flex; }
        footer > div#sitefooter > div > ul > li {
          flex-grow: 1;
          flex-basis: 0;
          font-size: 1.3rem; }
          footer > div#sitefooter > div > ul > li:first-child {
            overflow: hidden; }
            footer > div#sitefooter > div > ul > li:first-child img {
              width: 200px;
              height: auto; }
            footer > div#sitefooter > div > ul > li:first-child > a {
              font-size: 0; }
          footer > div#sitefooter > div > ul > li > a {
            color: white;
            font-size: 1.4rem;
            font-weight: 300; }
            footer > div#sitefooter > div > ul > li > a.download {
              border: solid white 1px;
              background: black;
              height: 50px;
              line-height: 50px;
              display: block;
              color: white;
              width: 180px;
              text-transform: uppercase;
              text-align: center;
              letter-spacing: 1px; }
            footer > div#sitefooter > div > ul > li > a:not(.download):hover {
              color: red;
              text-decoration: underline; }
          footer > div#sitefooter > div > ul > li:not(.contact) > a {
            text-transform: uppercase;
            font-size: 1.6rem;
            font-weight: 700; }
  footer > div#nu__global-footer {
    background: #636363;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.03em;
    width: 100%;
    padding: 20px 0 20px 0;
    font-family: Arial,Verdana,sans-serif;
    overflow: auto; }
    footer > div#nu__global-footer > div {
      width: 71vw;
      margin: 0 14.5vw 0 14.5vw;
      position: relative; }
      footer > div#nu__global-footer > div > a {
        color: transparent;
        float: left;
        margin-right: 20px; }
        footer > div#nu__global-footer > div > a > img,
        footer > div#nu__global-footer > div > a > svg {
          fill: white;
          width: 173px;
          height: 30px; }
      footer > div#nu__global-footer > div > div {
        float: right; }
        footer > div#nu__global-footer > div > div > ul {
          color: #ccc;
          display: inline;
          float: left;
          font-size: 1.2em;
          list-style-type: none;
          margin: 0 0 5px 0;
          padding: 0;
          color: white; }
          footer > div#nu__global-footer > div > div > ul > li {
            float: left;
            margin-right: 10px;
            color: white; }
            footer > div#nu__global-footer > div > div > ul > li:after {
              content: '·'; }
            footer > div#nu__global-footer > div > div > ul > li:last-child:after {
              content: ''; }
            footer > div#nu__global-footer > div > div > ul > li > a {
              margin-right: 10px;
              color: white;
              text-decoration: none;
              font-family: Arial,Verdana,sans-serif; }
              footer > div#nu__global-footer > div > div > ul > li > a:visited {
                color: white;
                text-decoration: none; }
              footer > div#nu__global-footer > div > div > ul > li > a:hover, footer > div#nu__global-footer > div > div > ul > li > a:active {
                color: white !important;
                text-decoration: underline !important; }
        footer > div#nu__global-footer > div > div > p {
          clear: both;
          color: #ccc;
          font-size: 100%;
          height: auto;
          line-height: 1.4em;
          margin: 0;
          padding: 0;
          color: #ccc; }
          footer > div#nu__global-footer > div > div > p > a {
            color: #ccc; }
            footer > div#nu__global-footer > div > div > p > a:hover {
              color: #ccc !important;
              text-decoration: underline !important; }

main {
  min-height: calc(100vh - 200px); }

main#homepage {
  margin: 110px 0 0 0;
  padding-bottom: 0; }
  main#homepage .nu__full-hero {
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto; }
    main#homepage .nu__full-hero div h2 {
      text-align: center;
      font-size: 5.6rem;
      color: white;
      font-weight: 300;
      line-height: 72px;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
      max-width: 850px;
      width: 100%;
      margin: 0 auto; }
      main#homepage .nu__full-hero div h2 span {
        font-weight: 700; }
  main#homepage > section {
    overflow: hidden;
    margin-bottom: 50px;
    background: white; }
    main#homepage > section > ul {
      list-style: none;
      list-style-type: none;
      overflow: hidden; }
      main#homepage > section > ul > li {
        float: left;
        width: 23vw;
        background: white;
        height: 300px;
        min-height: 300px;
        margin: 0 1vw 1vw 0; }
        main#homepage > section > ul > li:nth-child(3n+3) {
          margin: 0 0 1vw 0; }
        main#homepage > section > ul > li h3 {
          border-bottom: solid black 1px;
          padding: 0 0 1vw 0;
          margin: 0 0 1vw 0; }
        main#homepage > section > ul > li:not(.copy) > div:nth-of-type(1) {
          width: 100%;
          min-height: inherit;
          background-position: center center;
          background-repeat: no-repeat;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          background-image: url("//fpoimagery.com/?t=px&w=500&h=500&bg=0ff&fg=000000"); }
        main#homepage > section > ul > li.copy {
          padding-right: 130px; }
        main#homepage > section > ul > li.right {
          text-align: right;
          padding-right: 0;
          padding-left: 130px; }
        main#homepage > section > ul > li.dark {
          background: black;
          color: white; }
    main#homepage > section.dark {
      background: black; }
    main#homepage > section#intro, main#homepage > section#collage, main#homepage > section#contact {
      width: 100vw;
      margin: 0 0 0 0; }
    main#homepage > section#intro > h1 {
      position: absolute;
      width: 30vw;
      margin: 100px 35vw 0 35vw;
      font-weight: lighter;
      text-align: center;
      font-size: 4rem;
      line-height: 5rem;
      color: white; }
      main#homepage > section#intro > h1 > span {
        font-weight: 700; }
    main#homepage > section#intro > img {
      width: 100%; }
    main#homepage > section#collage > img {
      width: 100%; }
    main#homepage > section#approach {
      overflow: visible; }
      main#homepage > section#approach > div:nth-of-type(1) {
        position: absolute;
        overflow: hidden;
        width: 23vw;
        margin: -70px 0 0 0;
        background: black;
        /* 28px @ 700px increasing to 45px @ 1500px */
        /* Prevent font scaling beyond this breakpoint */ }
        main#homepage > section#approach > div:nth-of-type(1) > h2 {
          color: white;
          margin: 0 1vw 50px 90px;
          font-size: 4.5rem;
          line-height: 2.8vw;
          padding-right: 10px; }
        @media (min-width: 700px) {
          main#homepage > section#approach > div:nth-of-type(1) h2 {
            font-size: calc(1.75rem + ((1vw - 7px) * 2.125));
            /* Where: * 2.125 = 100 * font_Size_Difference / viewport_Width_Difference */ } }
        @media (min-width: 1500px) {
          main#homepage > section#approach > div:nth-of-type(1) h2 {
            font-size: 45px; } }
        main#homepage > section#approach > div:nth-of-type(1) > h4 {
          color: white; }
      main#homepage > section#approach > div:nth-of-type(2) {
        width: 53vw;
        margin: 1vw 0 0 18vw;
        border: solid #efefef 10px;
        padding: 50px 50px 50px 8%;
        /* 18px @ 700px increasing to 24px @ 1500px */
        /* Prevent font scaling beyond this breakpoint */ }
        main#homepage > section#approach > div:nth-of-type(2) > p {
          margin: 0 0 2.6% 0;
          font-size: 2.4rem; }
          main#homepage > section#approach > div:nth-of-type(2) > p:last-child {
            margin: 0 0 0 0; }
          main#homepage > section#approach > div:nth-of-type(2) > p > span {
            color: #cd0000; }
        @media (min-width: 700px) {
          main#homepage > section#approach > div:nth-of-type(2) p {
            font-size: calc(1.125rem + ((1vw - 7px) * 0.75));
            /* Where: * 0.75 = 100 * font_Size_Difference / viewport_Width_Difference */ } }
        @media (min-width: 1500px) {
          main#homepage > section#approach > div:nth-of-type(2) p {
            font-size: 24px; } }
    main#homepage > section#expertise > div {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      flex-basis: 0; }
      main#homepage > section#expertise > div > div {
        flex-grow: 0;
        background: #efefef;
        width: 23.3333333333vw;
        height: 23.3333333333vw;
        margin: 0 0 1vw 0;
        /* 28px @ 700px increasing to 34px @ 1500px */
        /* Prevent font scaling beyond this breakpoint */
        /* 18px @ 700px increasing to 24px @ 1500px */ }
        main#homepage > section#expertise > div > div h3 {
          font-weight: 300;
          font-size: 3.4rem;
          border-bottom: 2px solid #7b7778;
          max-width: 76%;
          margin-left: 8%;
          padding-bottom: 3.7%; }
        @media (min-width: 1100px) {
          main#homepage > section#expertise > div > div h3 {
            font-size: calc(1.75rem + ((1vw - 7px) * 0.75));
            /* Where: * 0.75 = 100 * font_Size_Difference / viewport_Width_Difference */ } }
        @media (min-width: 1500px) {
          main#homepage > section#expertise > div > div h3 {
            font-size: 34px; } }
        main#homepage > section#expertise > div > div p {
          max-width: 76%;
          margin-left: 8%;
          margin-top: 3.7%;
          font-weight: 300; }
        main#homepage > section#expertise > div > div.doublewide {
          width: 46.6666666667vw; }
        main#homepage > section#expertise > div > div.bgimage {
          background: url("https://dummyimage.com/410/410/fff.jpg");
          background-size: cover;
          background-position: center center; }
        main#homepage > section#expertise > div > div.gutter-right {
          margin: 0 1vw 1vw 0; }
        main#homepage > section#expertise > div > div#structural {
          height: 24.3333333333vw;
          margin-top: -1vw; }
        main#homepage > section#expertise > div > div#partnerships {
          background: black;
          color: white;
          /* 36px @ 1024px increasing to 45px @ 1800px */
          /* Prevent font scaling beyond this breakpoint */ }
          main#homepage > section#expertise > div > div#partnerships h2 {
            color: white;
            font-size: 4.5rem;
            max-width: 74%;
            margin: 11% 0 0 11%; }
          @media (min-width: 901px) {
            main#homepage > section#expertise > div > div#partnerships h2 {
              font-size: calc(2.25rem + ((1vw - 10.24px) * 1.1598));
              /* Where: * 1.1598 = 100 * font_Size_Difference / viewport_Width_Difference */ } }
          @media (min-width: 1800px) {
            main#homepage > section#expertise > div > div#partnerships h2 {
              font-size: 45px; } }
          main#homepage > section#expertise > div > div#partnerships p {
            margin-left: 11%; }
            main#homepage > section#expertise > div > div#partnerships p a {
              color: #cc0000;
              font-weight: 700;
              font-size: 2.4rem; }
              main#homepage > section#expertise > div > div#partnerships p a:hover {
                color: white; }
        main#homepage > section#expertise > div > div#security {
          height: 24.3333333333vw;
          margin-top: -1vw; }
        main#homepage > section#expertise > div > div#analytics {
          width: 47.6666666667vw; }
          main#homepage > section#expertise > div > div#analytics > div.bordered-right {
            margin: 1% 1.5% 1% 0;
            width: 99%;
            height: 96%; }
        main#homepage > section#expertise > div > div > div {
          background: white;
          width: 95%;
          height: 95%;
          margin: 2.5% 2.5% 2.5% 2.5%;
          padding: 10px; }
          main#homepage > section#expertise > div > div > div.bordered-right {
            margin: 2.5% 2.5% 2.5% 0;
            width: 97.5%; }
          main#homepage > section#expertise > div > div > div.bordered-bottom {
            margin: 0 2.5% 2.5% 2.5%;
            height: 97.5%; }
          main#homepage > section#expertise > div > div > div.bordered-left {
            margin: 2.5% 0 2.5% 2.5%;
            width: 97.5%; }
    main#homepage > section#contact {
      padding: 0 0 124px 0; }
      main#homepage > section#contact > div {
        color: white;
        width: 71vw;
        margin: 0 14.5vw 0 14.5vw;
        /* 28px @ 700px increasing to 45px @ 1500px */
        /* Prevent font scaling beyond this breakpoint */ }
        main#homepage > section#contact > div > h2 {
          display: inline-block;
          width: 29vw;
          margin: 0 1vw 0 5vw;
          vertical-align: top;
          font-size: 4.5rem;
          font-weight: 300; }
        @media (min-width: 700px) {
          main#homepage > section#contact > div h2 {
            font-size: calc(1.75rem + ((1vw - 7px) * 2.125));
            /* Where: * 2.125 = 100 * font_Size_Difference / viewport_Width_Difference */ } }
        @media (min-width: 1500px) {
          main#homepage > section#contact > div h2 {
            font-size: 45px; } }
        main#homepage > section#contact > div > div {
          display: inline-block;
          width: 28vw;
          margin: 0 5vw 0 1vw; }
          main#homepage > section#contact > div > div p {
            font-weight: 400; }
            main#homepage > section#contact > div > div p a {
              font-size: 2.4rem; }
              main#homepage > section#contact > div > div p a.nu__form-submit {
                border-color: #cc0000;
                border-style: solid;
                border-width: 1px;
                color: #fff;
                display: inline-block;
                font-size: 1.8rem;
                font-weight: 400;
                padding: 7px 25px;
                text-decoration: none;
                text-transform: uppercase;
                background: #000 none repeat scroll 0 0;
                margin-top: 15px;
                text-transform: uppercase; }
    main#homepage > section#form {
      border: solid #efefef 1px;
      margin-top: -130px; }
      main#homepage > section#form > div {
        margin: 1vw 5vw 1vw 5vw; }
        main#homepage > section#form > div form {
          vertical-align: top;
          clear: both; }
          main#homepage > section#form > div form .wpforms-field {
            clear: none; }
          main#homepage > section#form > div form div[data-field-id='0'],
          main#homepage > section#form > div form div[data-field-id='1'],
          main#homepage > section#form > div form div[data-field-id='3'],
          main#homepage > section#form > div form div[data-field-id='4'],
          main#homepage > section#form > div form div[data-field-id='5'] {
            float: left;
            width: 48%; }
          main#homepage > section#form > div form div[data-field-id='2'] {
            float: right;
            width: 48%;
            height: 500px; }
            main#homepage > section#form > div form div[data-field-id='2'] > textarea {
              height: 370px;
              resize: none; }

section#collage {
  width: 100vw;
  margin: 0;
  margin-top: 75px; }
  section#collage img {
    width: 100vw;
    z-index: 101;
    position: relative; }

section#convening .nu__col-right ul li {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
  margin-bottom: 10px; }

.nu__col-right {
  border-top: 2px solid #757575;
  padding-top: 37px;
  margin-top: 16px; }

.nu__red-span {
  color: #cc0000; }

.nu__bold-span {
  font-weight: 700; }

.nu__col-copy {
  margin-left: 90px; }

main#locations {
  margin: 110px 0 0 0; }
  main#locations > section {
    min-height: 200px;
    overflow: hidden;
    background: white; }

.nu__hero-header {
  background: white;
  width: 59vw;
  margin: 0 auto;
  margin-top: -88px;
  /* 28px @ 700px increasing to 34px @ 1500px */
  /* Prevent font scaling beyond this breakpoint */ }
  .nu__hero-header h2 {
    font-weight: 300;
    font-size: 3.4rem;
    text-align: center;
    width: 48vw;
    margin: 0 auto;
    padding-top: 45px;
    line-height: 2vw;
    padding-bottom: 15px; }
    .nu__hero-header h2 span {
      font-weight: 700; }
  @media (min-width: 700px) {
    .nu__hero-header h2 {
      font-size: calc(1.75rem + ((1vw - 7px) * 0.75));
      /* Where: * 0.75 = 100 * font_Size_Difference / viewport_Width_Difference */ } }
  @media (min-width: 1500px) {
    .nu__hero-header h2 {
      font-size: 34px; } }

#contact,
#directions,
#shuttle {
  width: 71vw; }

.flexbox {
  display: flex; }

.nu__col-left {
  flex: 0 0 236px; }
  .nu__col-left ul {
    position: fixed;
    z-index: 100; }
    .nu__col-left ul li {
      list-style-type: none;
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: left;
      font-weight: 300;
      font-size: 2.4rem;
      margin: 0 0 20px 0; }
      .nu__col-left ul li a.active {
        font-weight: 900; }

.nu__col-right {
  flex: 1; }
  .nu__col-right img {
    padding: 0 0 30px 30px; }
  .nu__col-right p {
    max-width: 35vw; }
  .nu__col-right a {
    margin: 0 0 1vw;
    border-bottom: 1px solid #cc0000; }
    .nu__col-right a.learnmoreapply:after {
      content: "\f08e";
      font-size: 12px;
      margin: 0 0 0 10px; }

.nu__col-list {
  float: left;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 20px; }
  .nu__col-list:last-of-type {
    margin-left: 4%; }
  .nu__col-list h2 {
    line-height: 3vw; }
  .nu__col-list ul {
    margin: 30px 0; }
    .nu__col-list ul li {
      list-style-type: none; }

.nu__list {
  margin-top: 20px;
  margin-bottom: 20px; }
  .nu__list h2 {
    line-height: 3vw; }
  .nu__list ul {
    margin: 30px 0; }
    .nu__list ul li {
      list-style-type: none; }

.nu-button {
  color: white;
  background: black;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 15px;
  padding: 14px 34px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: none !important; }
  .nu-button:hover {
    background: #cc0000;
    color: white; }

#map {
  height: 376px;
  width: 518px;
  margin: 0 0 30px 30px;
  float: right; }

div.wpforms-container-full .wpforms-form input[type="date"], div.wpforms-container-full .wpforms-form input[type="datetime"], div.wpforms-container-full .wpforms-form input[type="datetime-local"], div.wpforms-container-full .wpforms-form input[type="email"], div.wpforms-container-full .wpforms-form input[type="month"], div.wpforms-container-full .wpforms-form input[type="number"], div.wpforms-container-full .wpforms-form input[type="password"], div.wpforms-container-full .wpforms-form input[type="range"], div.wpforms-container-full .wpforms-form input[type="search"], div.wpforms-container-full .wpforms-form input[type="tel"], div.wpforms-container-full .wpforms-form input[type="text"], div.wpforms-container-full .wpforms-form input[type="time"], div.wpforms-container-full .wpforms-form input[type="url"], div.wpforms-container-full .wpforms-form input[type="week"], div.wpforms-container-full .wpforms-form select {
  border: none !important;
  border-bottom: 2px solid #979797 !important; }

div.wpforms-container-full .wpforms-form textarea {
  border: 1px solid black !important; }

div.wpforms-container-full .wpforms-form .wpforms-field input.wpforms-error, div.wpforms-container-full .wpforms-form .wpforms-field select.wpforms-error {
  border-bottom: 2px solid #cc0000 !important; }

div.wpforms-container-full .wpforms-form .wpforms-field textarea.wpforms-error {
  border: 1px solid #cc0000 !important; }

div.wpforms-container-full .wpforms-form input[type="submit"], div.wpforms-container-full .wpforms-form button[type="submit"], div.wpforms-container-full .wpforms-form .wpforms-page-button {
  background: black !important;
  color: white !important; }
  div.wpforms-container-full .wpforms-form input[type="submit"]:hover, div.wpforms-container-full .wpforms-form button[type="submit"]:hover, div.wpforms-container-full .wpforms-form .wpforms-page-button:hover {
    background: #cc0000 !important; }

select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  text-indent: 1px !important;
  text-overflow: '' !important; }

div.wpforms-container-full .wpforms-form select {
  background: url("../img/arrow.png") no-repeat !important;
  background-position: 99% 50% !important;
  background-repeat: no-repeat !important;
  background-size: auto 25% !important;
  border-radius: 0 !important; }

#form div.nu__form {
  width: 47vw;
  margin: 0 auto; }

@media only screen and (max-width: 1560px) {
  .nu__col-left {
    flex: 0 0 21%; }
  .nu__col-right p {
    max-width: 100%; }
  .nu__col-copy {
    margin-left: 0;
    clear: both; }
  .nu__col-list {
    width: 46%; } }

@media only screen and (max-width: 1530px) {
  .nu__col-left ul li {
    font-size: 2rem; } }

@media only screen and (max-width: 1400px) {
  main#homepage > section#expertise > div > div h3 {
    font-size: 2rem; }
  main#homepage > section#expertise > div > div p {
    line-height: 1.5em; } }

@media only screen and (max-width: 1330px) {
  .nu__col-left {
    flex: 0 0 21%; }
  .nu__col-right img {
    padding-left: 0;
    float: none;
    width: 100%; }
  .nu__col-right p {
    max-width: 100%; }
  .nu__col-copy {
    margin-left: 0;
    clear: both; }
  #map {
    float: none;
    width: 100%;
    margin-left: 0;
    width: 100%; }
  .nu__col-list {
    width: 46%; } }

@media only screen and (max-width: 1320px) {
  .nu__col-left ul li {
    font-size: 1.6rem; } }

@media only screen and (max-width: 1280px) {
  .nu__col-copy h2 {
    line-height: 2em; }
  .nu__col-list h2 {
    line-height: 2em; } }

@media only screen and (max-width: 1280px) {
  main#homepage > section#expertise > div > div {
    background: #efefef;
    width: 35vw;
    height: 35vw;
    margin: 0 0 2vw 0;
    /* 28px @ 700px increasing to 34px @ 1500px */
    /* Prevent font scaling beyond this breakpoint */
    /* 18px @ 700px increasing to 24px @ 1500px */
    /* Prevent font scaling beyond this breakpoint */ }
    main#homepage > section#expertise > div > div h3 {
      font-weight: 300;
      font-size: 3.4rem;
      border-bottom: 2px solid #7b7778;
      max-width: 76%;
      margin-left: 8%;
      margin-top: 6%;
      padding-bottom: 3.7%; } }
  @media only screen and (max-width: 1280px) and (min-width: 1100px) {
    main#homepage > section#expertise > div > div h3 {
      font-size: calc(1.75rem + ((1vw - 7px) * 0.75));
      /* Where: * 0.75 = 100 * font_Size_Difference / viewport_Width_Difference */ } }
  @media only screen and (max-width: 1280px) and (min-width: 1500px) {
    main#homepage > section#expertise > div > div h3 {
      font-size: 34px; } }

@media only screen and (max-width: 1280px) {
    main#homepage > section#expertise > div > div p {
      max-width: 76%;
      margin-left: 8%;
      margin-top: 3.7%;
      font-weight: 300;
      font-size: 2.4rem; } }
  @media only screen and (max-width: 1280px) and (min-width: 900px) {
    main#homepage > section#expertise > div > div p {
      font-size: calc(1.125rem + ((1vw - 7px) * 0.75));
      /* Where: * 0.75 = 100 * font_Size_Difference / viewport_Width_Difference */ } }
  @media only screen and (max-width: 1280px) and (min-width: 1500px) {
    main#homepage > section#expertise > div > div p {
      font-size: 24px; } }

@media only screen and (max-width: 1280px) {
    main#homepage > section#expertise > div > div.doublewide {
      width: 70vw; }
    main#homepage > section#expertise > div > div#materials {
      order: 0;
      -webkit-order: 0;
      margin-right: -10px;
      width: 36vw; }
    main#homepage > section#expertise > div > div#materialsimage {
      order: 1;
      -webkit-order: 1; }
    main#homepage > section#expertise > div > div#structural {
      order: 3;
      -webkit-order: 3;
      height: 35vw;
      margin-top: 0; }
    main#homepage > section#expertise > div > div#structuralimage {
      order: 2;
      -webkit-order: 2; }
    main#homepage > section#expertise > div > div#partnerships {
      order: 4;
      -webkit-order: 4;
      width: 100%; }
      main#homepage > section#expertise > div > div#partnerships p a {
        font-size: 1.8rem; }
    main#homepage > section#expertise > div > div#manufacturing {
      order: 5;
      -webkit-order: 5; }
    main#homepage > section#expertise > div > div#manufacturingimage {
      order: 6;
      -webkit-order: 6; }
    main#homepage > section#expertise > div > div#security {
      order: 8;
      -webkit-order: 8;
      height: 35vw;
      margin-top: 0; }
    main#homepage > section#expertise > div > div#securityimage {
      order: 7;
      -webkit-order: 7; }
    main#homepage > section#expertise > div > div#nano {
      order: 9;
      -webkit-order: 9; }
    main#homepage > section#expertise > div > div#nanoimage {
      order: 10;
      -webkit-order: 10;
      margin-left: -1vw; }
    main#homepage > section#expertise > div > div#analytics {
      order: 12;
      -webkit-order: 12;
      width: 35vw; }
      main#homepage > section#expertise > div > div#analytics > div.bordered-right {
        margin: 2% 3% 2% 0;
        width: 97.5%;
        height: 95.5%; }
    main#homepage > section#expertise > div > div#analyticsimage {
      order: 11;
      -webkit-order: 11; }
    main#homepage > section#expertise > div > div > div {
      background: white;
      width: 95%;
      height: 95%;
      margin: 2.5% 2.5% 2.5% 2.5%;
      padding: 20px; }
      main#homepage > section#expertise > div > div > div.bordered-right {
        margin: 2.5% 0 2.5% 2.5%;
        width: 97.5%; }
      main#homepage > section#expertise > div > div > div.bordered-bottom {
        margin: 2.5% 2.5% 2.5% 0;
        height: 95%;
        width: 97%; }
      main#homepage > section#expertise > div > div > div.bordered-left {
        margin: 2.5% 0 2.5% 2.5%;
        width: 97.5%; } }

@media only screen and (max-width: 1260px) {
  #nav-btn, #nav-btn + span {
    display: block; }
  nav.nu__main-nav {
    display: none; }
  nav.nu__mobile-nav {
    display: block; }
  #nav-btn {
    z-index: 100; } }

@media only screen and (max-width: 1250px) {
  h4:before {
    width: 35px; } }

@media only screen and (max-width: 1230px) {
  footer {
    flex: none; }
    footer > div#sitefooter > div > ul {
      flex-wrap: wrap; }
      footer > div#sitefooter > div > ul > li {
        flex-grow: 1;
        flex-basis: 50%;
        font-size: 1.3rem; }
        footer > div#sitefooter > div > ul > li:first-child {
          overflow: hidden; }
          footer > div#sitefooter > div > ul > li:first-child img {
            width: 200px;
            height: auto; }
          footer > div#sitefooter > div > ul > li:first-child > a {
            font-size: 0; }
        footer > div#sitefooter > div > ul > li:nth-of-type(1) {
          order: 1; }
        footer > div#sitefooter > div > ul > li:nth-of-type(2) {
          order: 3; }
        footer > div#sitefooter > div > ul > li:nth-of-type(3) {
          order: 2; }
        footer > div#sitefooter > div > ul > li:nth-of-type(4) {
          order: 4;
          margin-top: 10px; }
        footer > div#sitefooter > div > ul > li > a {
          color: white;
          font-size: 1.4rem;
          font-weight: 300; }
          footer > div#sitefooter > div > ul > li > a.download {
            border: solid white 1px;
            background: black;
            height: 50px;
            line-height: 50px;
            display: block;
            color: white;
            width: 180px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px; }
          footer > div#sitefooter > div > ul > li > a:not(.download):hover {
            color: red;
            text-decoration: underline; }
        footer > div#sitefooter > div > ul > li:not(.contact) > a {
          text-transform: uppercase;
          font-size: 1.6rem;
          font-weight: 700; } }

@media only screen and (max-width: 1190px) {
  main#homepage > section#approach > div:nth-of-type(1) > h4:before {
    width: 35px; }
  main#homepage > section#approach > div:nth-of-type(1) > h2 {
    float: left;
    width: 65%;
    margin: 0 1vw 50px 53px; }
  h4:before {
    width: 35px !important; } }

@media only screen and (max-width: 1160px) {
  main#homepage > section#expertise div h3 {
    line-height: 1.3em; }
  main#homepage > section#expertise div p {
    line-height: 1.8em; } }

@media only screen and (max-width: 1100px) {
  main#homepage > section#expertise div h3 {
    line-height: 1.3em;
    font-size: 1.8rem !important; }
  main#homepage > section#expertise div p {
    line-height: 1.8em; } }

@media only screen and (max-width: 1200px) {
  .nu__col-left ul li {
    font-size: 1.5rem; } }

@media only screen and (max-width: 1070px) {
  footer > div#nu__global-footer > div > div {
    float: left !important; } }

@media only screen and (max-width: 1000px) {
  .nu__col-left {
    display: none;
    flex: 0 0 236px; }
    .nu__col-left ul li {
      font-size: 1.8rem; }
  .nu__col-right img {
    padding-left: 0;
    float: none;
    width: 100%; }
  .nu__col-right p {
    max-width: 100%; }
  .nu__col-copy {
    margin-left: 0; }
  #map {
    float: none;
    width: 100%;
    margin-left: 0;
    width: 100%; }
  .nu__col-list {
    width: 100%;
    float: none; }
    .nu__col-list:last-of-type {
      margin-left: 0; } }

@media only screen and (max-width: 990px) {
  body {
    line-height: 3rem;
    font-size: 1.6rem; }
  main > section {
    width: 90%;
    margin: 1vw 5%; }
  header > div#header {
    max-width: inherit; }
  #contact,
  #directions,
  #shuttle,
  #convening,
  #form,
  #approach,
  footer > div#sitefooter > div,
  header > div#header,
  footer > div#nu__global-footer > div {
    width: 90%;
    margin: 0 auto; }
  #form {
    margin-bottom: 50px; }
    #form div.nu__form {
      width: 90vw;
      margin: 0 auto; }
  main > section:nth-of-type(1),
  footer > div#sitefooter > div,
  footer > div#nu__global-footer > div {
    margin: 0 auto; }
  h3 {
    line-height: 2rem; }
  main#homepage > section#approach > div:nth-of-type(1) {
    width: 30vw !important; }
  main#homepage > section#approach > div:nth-of-type(2) {
    width: 72vw !important;
    padding-left: 15% !important; }
  main#homepage > section#contact > div {
    width: 90%;
    margin: 0 5%; }
    main#homepage > section#contact > div h2 {
      width: 40%; }
    main#homepage > section#contact > div div {
      width: 40%; } }

@media only screen and (max-width: 910px) {
  main#homepage > section#approach > div:nth-of-type(1) {
    width: 35vw !important; }
  main#homepage > section#approach > div:nth-of-type(2) {
    padding-left: 22% !important;
    line-height: 1.5em; } }

@media only screen and (max-width: 990px) {
  main#homepage > section#expertise {
    width: 90vw !important;
    margin: 0 auto; }
    main#homepage > section#expertise > div > div {
      background: white;
      width: 89vw;
      height: 70vw;
      margin: 0 0 5vw 0; }
      main#homepage > section#expertise > div > div.doublewide {
        width: 100%; }
      main#homepage > section#expertise > div > div#materials {
        order: 1;
        -webkit-order: 1;
        margin-right: -10px;
        width: 100%;
        height: auto;
        margin: 0 0 5vw 0; }
      main#homepage > section#expertise > div > div#materialsimage {
        order: 0;
        -webkit-order: 0;
        margin: 0 0 0 0; }
      main#homepage > section#expertise > div > div#structural {
        order: 3;
        -webkit-order: 3;
        width: 100%;
        height: auto;
        margin-top: 0;
        margin: 0 0 5vw 0; }
      main#homepage > section#expertise > div > div#structuralimage {
        order: 2;
        -webkit-order: 2;
        margin: 0 0 0 0;
        width: 100%; }
      main#homepage > section#expertise > div > div#partnerships {
        order: 4;
        -webkit-order: 4;
        width: 100%;
        height: auto;
        margin: 0 0 10vw 0; }
      main#homepage > section#expertise > div > div#manufacturing {
        order: 6;
        -webkit-order: 6;
        width: 100%;
        height: auto;
        margin: 0 0 5vw 0; }
      main#homepage > section#expertise > div > div#manufacturingimage {
        order: 5;
        -webkit-order: 5;
        width: 100%;
        margin: 0 0 0 0; }
      main#homepage > section#expertise > div > div#security {
        order: 8;
        -webkit-order: 8;
        margin-top: 0;
        width: 100%;
        height: auto;
        margin: 0 0 5vw 0; }
      main#homepage > section#expertise > div > div#securityimage {
        order: 7;
        -webkit-order: 7;
        margin: 0 0 0 0; }
      main#homepage > section#expertise > div > div#nano {
        order: 10;
        -webkit-order: 10;
        width: 100%;
        height: auto;
        margin: 0 0 5vw 0; }
      main#homepage > section#expertise > div > div#nanoimage {
        order: 9;
        -webkit-order: 9;
        margin: 0 0 0 0; }
      main#homepage > section#expertise > div > div#analytics {
        order: 12;
        -webkit-order: 12;
        width: 100%;
        height: auto; }
      main#homepage > section#expertise > div > div#analyticsimage {
        order: 11;
        -webkit-order: 11;
        margin: 0 0 0 0; } }

@media only screen and (max-width: 950px) {
  main#homepage > section#approach > div:nth-of-type(1) {
    width: 41vw !important; }
  main#homepage > section#approach > div:nth-of-type(1) > h2 {
    width: 70%; }
  h4 {
    font-size: 1.6rem !important; }
  main#homepage > section#approach > div:nth-of-type(2) {
    padding-left: 27% !important; } }

@media only screen and (max-width: 860px) {
  footer > div#nu__global-footer {
    height: 150px; } }

@media only screen and (max-width: 800px) {
  header > div#header .logo a img {
    width: 250px; }
  .nu__section-break {
    margin-top: 4vw; }
  .nu__hero-header {
    width: 75vw; }
    .nu__hero-header h2 {
      width: 70vw;
      font-size: 4vw;
      line-height: 1.5em; }
  .nu__col-right {
    padding-top: 0; }
  .nu__col-copy h4 {
    font-size: 1.6rem; } }

@media only screen and (max-width: 768px) {
  main#homepage .nu__full-hero div h2 {
    font-size: 3rem;
    line-height: 2em;
    max-width: 80%; }
  main#homepage > section#approach > div:nth-of-type(1) {
    width: 41vw !important; }
  main#homepage > section#approach > div:nth-of-type(1) > h2 {
    width: 70%; }
  main#homepage > section#expertise > div > div#partnerships h2 {
    line-height: 1;
    margin: 5% 0 0 5%;
    font-size: 1.8em; }
  main#homepage > section#expertise > div > div#partnerships p {
    margin-left: 5%; }
  h4 {
    font-size: 1.6rem !important; }
  main#homepage > section#approach > div:nth-of-type(2) {
    padding-left: 27% !important; }
  main#homepage > section#approach > div:nth-of-type(2) > p {
    font-size: 1.6rem; }
  main#homepage > section#expertise > div > div h3 {
    font-size: 3.4rem !important; } }

@media only screen and (max-width: 750px) {
  main#homepage > section#approach > div:nth-of-type(1) {
    width: 60vw !important;
    z-index: 1; }
  main#homepage > section#approach > div:nth-of-type(2) {
    float: right;
    margin-top: 30px; }
  main#homepage > section#approach > div:nth-of-type(1) > h2 {
    width: 70%; }
  main#homepage > section#expertise > div > div#partnerships h2 {
    line-height: 1;
    margin: 5% 0 0 5%;
    font-size: 1.8em; }
  main#homepage > section#expertise > div > div#partnerships p {
    margin-left: 5%; }
  main#homepage > section#approach > div:nth-of-type(1) h2 {
    font-size: 2rem !important; }
  h4 {
    font-size: 1.6rem !important; }
  main#homepage > section#approach > div:nth-of-type(2) {
    padding-left: 7% !important; }
  main#homepage > section#approach > div:nth-of-type(2) > p {
    font-size: 1.6rem; }
  main#homepage > section#expertise > div > div h3 {
    font-size: 3.4rem !important; }
  main#homepage > section#approach > div:nth-of-type(2) {
    margin-bottom: 50px; } }

@media only screen and (max-width: 700px) {
  main#homepage > section#contact > div div {
    width: 80%;
    margin-left: 5vw; }
  main#homepage > section#contact > div > h2 {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 20px;
    width: 80%;
    margin-top: 20px; }
  main#homepage > section#approach > div:nth-of-type(1) h2 {
    line-height: 1.5em; }
  main#homepage > section#approach > div:nth-of-type(1) {
    width: 90vw !important; }
  main#homepage > section#approach > div:nth-of-type(2) {
    width: 90vw !important;
    margin-top: 70px; }
  main#homepage > section#expertise > div > div h3 {
    margin-top: -15px !important; }
  footer {
    flex: none; }
    footer > div#sitefooter > div > ul {
      flex-wrap: wrap;
      flex-direction: column; }
      footer > div#sitefooter > div > ul > li {
        flex-grow: 1;
        font-size: 1.3rem;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        text-align: center; }
        footer > div#sitefooter > div > ul > li:first-child {
          overflow: hidden; }
          footer > div#sitefooter > div > ul > li:first-child img {
            width: 200px;
            height: auto; }
          footer > div#sitefooter > div > ul > li:first-child > a {
            font-size: 0; }
        footer > div#sitefooter > div > ul > li:nth-of-type(1) {
          order: 1; }
        footer > div#sitefooter > div > ul > li:nth-of-type(2) {
          margin-top: 10px;
          order: 2; }
        footer > div#sitefooter > div > ul > li:nth-of-type(3) {
          margin-top: 10px;
          order: 3; }
        footer > div#sitefooter > div > ul > li:nth-of-type(4) {
          order: 4;
          margin: 0 auto;
          margin-top: 10px; }
        footer > div#sitefooter > div > ul > li > a {
          color: white;
          font-size: 1.4rem;
          font-weight: 300; }
          footer > div#sitefooter > div > ul > li > a.download {
            border: solid white 1px;
            background: black;
            height: 50px;
            line-height: 50px;
            display: block;
            color: white;
            width: 180px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px; }
          footer > div#sitefooter > div > ul > li > a:not(.download):hover {
            color: red;
            text-decoration: underline; }
        footer > div#sitefooter > div > ul > li:not(.contact) > a {
          text-transform: uppercase;
          font-size: 1.6rem;
          font-weight: 700; } }

@media only screen and (max-width: 600px) {
  header > div#header {
    max-width: 90vw; }
    header > div#header .logo a img {
      width: 200px; } }

@media only screen and (max-width: 576px) {
  .nu__col-copy h2 {
    line-height: 1.5em;
    font-size: 2.5rem; }
  .nu__col-list h2 {
    font-size: 2.5rem; }
  footer > div#nu__global-footer {
    height: 200px; }
  .nu__col-right p {
    margin: 2rem 0; }
  #nav-btn + span {
    top: 52px !important; } }

@media only screen and (max-width: 400px) {
  header > div#header .logo a img {
    width: 160px; }
  #nav-btn + span {
    top: 66px; }
  .nu__section-break {
    display: none; }
  .nu__hero-header {
    width: 75vw; }
    .nu__hero-header h2 {
      width: 70vw;
      font-size: 5vw;
      line-height: 1.5em; }
  .nu__col-copy h4 {
    font-size: 1.6rem; }
    .nu__col-copy h4:before {
      width: 40px;
      margin-right: 10px; }
  .nu__hero-header .nu-button {
    font-size: 1.2rem; }
  .nu__garb {
    border-top: none; }
  section#convening .nu__col-right ul li {
    line-height: 1.5em; }
  main#homepage > section#expertise > div > div#partnerships h2 {
    font-size: 2rem !important;
    line-height: 1.5em; }
  main#homepage > section#expertise > div > div#partnerships p a {
    font-size: 1.6rem !important; }
  div.wpforms-container-full .wpforms-form .wpforms-field-label {
    font-size: 13px !important; }
  main#homepage > section#expertise > div > div h3 {
    font-size: 2.2rem !important; }
  h4 {
    font-size: 1.4rem !important; }
    h4:before {
      width: 20px !important; }
  main#homepage > section#expertise > div > div#partnerships p a {
    font-size: 1.4rem !important; }
  main#homepage > section#contact > div div {
    width: 80% !important; } }

@media only screen and (max-width: 370px) {
  h4 {
    font-size: 1.4rem !important; }
    h4:before {
      width: 20px !important; } }

/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/nudev-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    color: #cc0000; }
  a.button {
    padding: 10px 30px 10px 30px;
    background: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px; }

.dark a {
  color: red;
  font-weight: lighter;
  border-bottom: 2px solid #cc0000; }
  .dark a:hover {
    color: #cc0000; }
    .dark a:hover > span {
      color: #cc0000; }
  .dark a > span {
    color: white;
    text-decoration: none; }

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #cc0000;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #cc0000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white; }

.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3.5rem;
  line-height: 3vw;
  font-weight: 200; }

h3 {
  font-size: 2.75rem;
  line-height: 4rem;
  font-weight: 200; }

h4 {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 1vw 0 1vw 0;
  letter-spacing: 1px;
  font-weight: 900; }
  h4::before {
    content: '';
    display: inline-block;
    width: 70px;
    height: 10px;
    background: #cd0000;
    margin: 0 20px 0 0; }

/* 14px @ 700px increasing to 16px @ 1500px */
@media (min-width: 700px) {
  h4 {
    font-size: calc(0.875rem + ((1vw - 7px) * 0.25));
    /* Where: * 0.25 = 100 * font_Size_Difference / viewport_Width_Difference */ } }

/* Prevent font scaling beyond this breakpoint */
@media (min-width: 1500px) {
  h4 {
    font-size: 16px; } }

h5,
.rubric {
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-weight: 900;
  letter-spacing: 1px; }

h5 {
  font-size: 1.75rem;
  line-height: 2.5rem; }

h6 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 1px; }

p {
  font-weight: normal;
  margin: 0 0 1vw 0; }

div#wpfront-scroll-top-container {
  background: #f7cc48;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  line-height: 3.75rem; }
  div#wpfront-scroll-top-container td.button-holder {
    background: none;
    background-color: none;
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    line-height: 3.75rem;
    font-weight: 400;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-align: center; }

/* Styles for the main content */
main {
  margin: 110px 0 1vw 0;
  padding-bottom: 50px; }
  main > section {
    position: relative;
    margin: 0 14.5vw 0 14.5vw;
    width: 71vw; }
    main > section:nth-of-type(1) {
      margin: 1vw 14.5vw 0 14.5vw; }
